<div id="template-nt-subscribe">
  <div class="container">
    <div class="row animate-box-off">
      <%= form_for @user do |f| %>
        <div class="col-md-3 col-sm-3">
          <div class="form-group">
            <%= f.text_field :name, class: "form-control", placeholder: true %>
          </div>
        </div>

        <div class="col-md-3 col-sm-3">
          <div class="form-group">
            <%= f.text_field :surname, class: "form-control", placeholder: true %>
          </div>
        </div>

        <div class="col-md-3 col-sm-3">
          <div class="form-group">
            <%= f.email_field :email, class: "form-control", placeholder: true,
                              oninvalid: "this.setCustomValidity('Invalid email')",
                              oninput: "setCustomValidity('')",
                              pattern: '[^@]+@[^@]+\.[a-zA-Z]{2,6}',
                              required: true %>
          </div>
        </div>

        <div class="col-md-3 col-sm-3">
          <div class="form-group">
            <%= f.submit class: "btn btn-default" %>
          </div>
        </div>
      <% end %>
      <div class="col-md-4 col-sm-4 col-md-offset-4 col-sm-offset-4 text-center">
        <%= link_to t('sing_in_with_facebook'), "/auth/facebook", id: "sign_in" %>
      </div>
    </div>
  </div>
</div>