<footer id="template-nt-footer" style="">
  <div class="template-nt-overlay"></div>
  <div class="template-nt-footer-content">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="col-md-3 col-sm-6 call_us hidden-md hidden-xs">
            <h3></h3>
            <ul>
              <li><strong></strong></li>
              <li><%= t('footer.call_us_and_we_help_you') %></li>
              <li>
                <%= fa_icon('phone') %>
                <%= t('footer.phone') %>
              </li>
            </ul>
          </div>
          <div class="col-md-3 col-sm-6 ">
            <h3 class="template-nt-lead">About</h3>
            <ul>
              <li><a href="#sz_post_slider_6_col" data-backdrop="true" data-slide-to="0" data-toggle="modal">Imprint</a></li>
              <li><a href="#sz_post_slider_6_col" data-backdrop="true" data-slide-to="0" data-toggle="modal">Privacy Policy</a></li>
              <li><a href="#sz_post_slider_6_col" data-backdrop="true" data-slide-to="0" data-toggle="modal">Disclaimer</a></li>
            </ul>
          </div>
          <div class="col-md-6 col-sm-6 text-center">
            <div class="template-nt-footer-logo"><%= image_tag('logos/logo_white.png', class: 'logo-img-min') %></div>
            <p class="template-nt-copyright"><small>&copy; 2016. All Rights Reserved.</small></p>
            <p class="template-nt-social-icons">
              <a href="https://www.facebook.com/FlatService4You-1866862593557550/" target="_blank"><i class="icon-facebook"></i></a>
              <a href="https://www.youtube.com/channel/UCtTYZbAX0Q-S5u4k4s55_Zw" target="_blank"><i class="icon-youtube"></i></a>
            </p>
          </div>
          <div class="col-md-3 col-sm-6 call_us visible-md visible-xs">
            <h3></h3>
            <ul>
              <li><strong></strong></li>
              <li><%= t('footer.call_us_and_we_help_you') %></li>
              <li>
                <%= fa_icon('phone') %>
                <%= t('footer.phone') %>
              </li>
            </ul>
          </div>
          <!--<div class="col-md-6 col-sm-6 ">-->
            <!--<h3 class="template-nt-lead">Support</h3>-->
            <!--<ul>-->
              <!--<li><a href="">Help Center</a></li>-->
              <!--<li><a href="">Terms of Service</a></li>-->
              <!--<li><a href="">Security</a></li>-->
              <!--<li><a href="">Privacy Policy</a></li>-->
              <!--<li><a href="">Careers</a></li>-->
              <!--<li><a href="">More Apps</a></li>-->
            <!--</ul>-->
          <!--</div>-->
          <!--<div class="col-md-6 col-sm-6 ">-->
            <!--<h3 class="template-nt-lead">More Links</h3>-->
            <!--<ul>-->
              <!--<li><a href="">Feedback</a></li>-->
              <!--<li><a href="">Frequently Ask Questions</a></li>-->
              <!--<li><a href="">Terms of Service</a></li>-->
              <!--<li><a href="">Privacy Policy</a></li>-->
              <!--<li><a href="">Careers</a></li>-->
              <!--<li><a href="">More Apps</a></li>-->
            <!--</ul>-->
          <!--</div>-->
        </div>
      </div>
    </div>
  </div>
</footer>