<div id="template-nt-offcanvass">
  <ul>
    <li class="active"><a href="" data-nav-section="home"><%= t('menu.home') %></a></li>
    <li><a href="" data-nav-section="promo"><%= t('menu.what_is_fs4y') %></a></li>
    <!--<li><a href="" data-nav-section="solution"><%= t('menu.solutions') %></a></li>-->
    <!--<li><a href="" data-nav-section="testimonies">Testimonies</a></li>-->
    <li><a href="" data-nav-section="products"><%= t('menu.products')%></a></li>
    <!--<li><a href="" data-nav-section="benefits">Benefits</a></li>-->
    <li><a href="" data-nav-section="pricing"><%= t('menu.price')%></a></li>
    <!--<li><a href="" data-nav-section="team"><%= t('menu.team')%></a></li>-->
    <li><a href="" data-nav-section="blog"><%= t('menu.blog')%></a></li>
    <li><a href="" data-nav-section="register"><%= t('menu.register')%></a></li>
  </ul>
  <h3 class="template-nt-lead"><%= t('menu.social')%></h3>
  <p class="template-nt-social-icons">
    <a href=""><i class="icon-facebook"></i></a>
    <a href=""><i class="icon-youtube"></i></a>
  </p>
</div>