<div id="template-nt-blog" data-section="blog">
  <div class="sz_shop_slider_wrapper">
    <div class="sz_shop_slider_header">
      <div class="col-md-8 col-md-offset-2 template-nt-section-heading text-center">
        <h2 class="template-nt-lead animate-single faqs-animate-1"><%= t('blog_headline') %></h2>
        <p class="template-nt-sub animate-single faqs-animate-2"><%= t('blog_text') %></p>
      </div>
    </div>

    <div class="container"></div>
    <div class="carousel slide sz_easeOutInCubic sz_post_slider_control sz_post_slider_indicators sz_post_slider_trig thumb_scroll_x" data-duration="2000" data-interval="false" data-ride="carousel" id="sz_post_slider_col_6" data-pause="hover">
      <ol class="carousel-indicators">
        <li data-slide-to="0" data-target="#sz_post_slider_col_6">
          23 may
        </li>
        <li data-slide-to="1" data-target="#sz_post_slider_col_6" class="active">
          25 dec
        </li>
      </ol>
      <div class="carousel-inner" role="listbox">
        <div class="item" style="transition-duration: 2000ms;">
          <div class="row">
            <div class="col-md-2 col-sm-4 col-xs-12">
              <div class="sz_post_slider_trig_wrap">
                <div class="sz_post_slider_trig_img">
                  <%= image_tag('sliders/test_1.jpg')%>
                </div>
                <div class="sz_post_slider_trig_txt"><a href="#">post title and description</a>
                  <div class="sz_post_slider_trig_btn">
                    <a href="#sz_post_slider_6_col" data-backdrop="true" data-slide-to="0" data-toggle="modal">
                      <span class="fa fa-search-plus"></span>
                      view
                    </a>
                  <span>
                    <a href="#"><span class="fa fa-calendar"></span>23 may</a>
                  </span>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-12">
              <div class="sz_post_slider_trig_wrap">
                <div class="sz_post_slider_trig_img">
                  <%= image_tag('sliders/test_2.jpg')%>
                </div><div class="sz_post_slider_trig_txt">
                <a href="#">post title and description</a>
                <div class="sz_post_slider_trig_btn">
                  <a href="#sz_post_slider_6_col" data-backdrop="true" data-slide-to="1" data-toggle="modal"><span class="fa fa-search-plus"></span>view </a>
                  <span><a href="#"><span class="fa fa-calendar"></span>23 may</a></span>
                </div>
              </div>
              </div>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-12">
              <div class="sz_post_slider_trig_wrap">
                <div class="sz_post_slider_trig_img">
                  <%= image_tag('sliders/test_3.jpg')%>
                </div>
                <div class="sz_post_slider_trig_txt">
                  <a href="#">post title and description</a><div class="sz_post_slider_trig_btn">
                  <a href="#sz_post_slider_6_col" data-backdrop="true" data-slide-to="2" data-toggle="modal"><span class="fa fa-search-plus"></span>view </a>
                  <span><a href="#"><span class="fa fa-calendar"></span>23 may</a></span>
                </div>
                </div>
              </div>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-12">
              <div class="sz_post_slider_trig_wrap">
                <div class="sz_post_slider_trig_img">
                  <%= image_tag('sliders/test_4.jpg')%>
                </div>
                <div class="sz_post_slider_trig_txt">
                  <a href="#">post title and description</a>
                  <div class="sz_post_slider_trig_btn">
                    <a href="#sz_post_slider_6_col" data-backdrop="true" data-slide-to="3" data-toggle="modal"><span class="fa fa-search-plus"></span>view </a>
                    <span><a href="#"><span class="fa fa-calendar"></span>23 may</a></span>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-12">
              <div class="sz_post_slider_trig_wrap">
                <div class="sz_post_slider_trig_img">
                  <%= image_tag('sliders/test_1.jpg')%>
                </div>
                <div class="sz_post_slider_trig_txt">
                  <a href="#">post title and description</a><div class="sz_post_slider_trig_btn">
                  <a href="#sz_post_slider_6_col" data-backdrop="true" data-slide-to="4" data-toggle="modal"><span class="fa fa-search-plus"></span>view </a>
                  <span><a href="#"><span class="fa fa-calendar"></span>23 may</a></span>
                </div>
                </div>
              </div>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-12">
              <div class="sz_post_slider_trig_wrap">
                <div class="sz_post_slider_trig_img">
                  <%= image_tag('sliders/test_2.jpg')%>
                </div>
                <div class="sz_post_slider_trig_txt">
                  <a href="#">post title and description</a><div class="sz_post_slider_trig_btn">
                  <a href="#sz_post_slider_6_col" data-backdrop="true" data-slide-to="5" data-toggle="modal">
                    <span class="fa fa-search-plus"></span>view </a>
                  <span><a href="#"><span class="fa fa-calendar"></span>23 may</a></span>
                </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="item active" style="transition-duration: 2000ms;">
          <div class="row">
            <div class="col-md-2 col-sm-4 col-xs-12">
              <div class="sz_post_slider_trig_wrap">
                <div class="sz_post_slider_trig_img">
                  <%= image_tag('sliders/test_3.jpg')%>
                </div>
                <div class="sz_post_slider_trig_txt"><a href="#">post title and description</a>
                  <div class="sz_post_slider_trig_btn">
                    <a href="#sz_post_slider_6_col" data-backdrop="true" data-slide-to="0" data-toggle="modal">
                      <span class="fa fa-search-plus"></span>
                      view
                    </a>
                  <span>
                    <a href="#"><span class="fa fa-calendar"></span>23 may</a>
                  </span>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-12">
              <div class="sz_post_slider_trig_wrap">
                <div class="sz_post_slider_trig_img">
                  <%= image_tag('sliders/test_4.jpg')%>
                </div><div class="sz_post_slider_trig_txt">
                <a href="#">post title and description</a>
                <div class="sz_post_slider_trig_btn">
                  <a href="#sz_post_slider_6_col" data-backdrop="true" data-slide-to="1" data-toggle="modal"><span class="fa fa-search-plus"></span>view </a>
                  <span><a href="#"><span class="fa fa-calendar"></span>23 may</a></span>
                </div>
              </div>
              </div>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-12">
              <div class="sz_post_slider_trig_wrap">
                <div class="sz_post_slider_trig_img">
                  <%= image_tag('sliders/test_1.jpg')%>
                </div>
                <div class="sz_post_slider_trig_txt">
                  <a href="#">post title and description</a><div class="sz_post_slider_trig_btn">
                  <a href="#sz_post_slider_6_col" data-backdrop="true" data-slide-to="2" data-toggle="modal"><span class="fa fa-search-plus"></span>view </a>
                  <span><a href="#"><span class="fa fa-calendar"></span>23 may</a></span>
                </div>
                </div>
              </div>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-12">
              <div class="sz_post_slider_trig_wrap">
                <div class="sz_post_slider_trig_img">
                  <%= image_tag('sliders/test_2.jpg')%>
                </div>
                <div class="sz_post_slider_trig_txt">
                  <a href="#">post title and description</a>
                  <div class="sz_post_slider_trig_btn">
                    <a href="#sz_post_slider_6_col" data-backdrop="true" data-slide-to="3" data-toggle="modal"><span class="fa fa-search-plus"></span>view </a>
                    <span><a href="#"><span class="fa fa-calendar"></span>23 may</a></span>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-12">
              <div class="sz_post_slider_trig_wrap">
                <div class="sz_post_slider_trig_img">
                  <%= image_tag('sliders/test_3.jpg')%>
                </div>
                <div class="sz_post_slider_trig_txt">
                  <a href="#">post title and description</a><div class="sz_post_slider_trig_btn">
                  <a href="#sz_post_slider_6_col" data-backdrop="true" data-slide-to="4" data-toggle="modal"><span class="fa fa-search-plus"></span>view </a>
                  <span><a href="#"><span class="fa fa-calendar"></span>23 may</a></span>
                </div>
                </div>
              </div>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-12">
              <div class="sz_post_slider_trig_wrap">
                <div class="sz_post_slider_trig_img">
                  <%= image_tag('sliders/test_4.jpg')%>
                </div>
                <div class="sz_post_slider_trig_txt">
                  <a href="#">post title and description</a>
                  <div class="sz_post_slider_trig_btn">
                    <a href="#sz_post_slider_6_col" data-backdrop="true" data-slide-to="5" data-toggle="modal">
                      <span class="fa fa-search-plus"></span>view </a>
                    <span><a href="#"><span class="fa fa-calendar"></span>23 may</a></span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <a class="carousel-control left" href="#sz_post_slider_col_6" data-slide="prev" role="button">
        <span class="fa fa-angle-left"></span>
      </a>

      <a class="carousel-control right" href="#sz_post_slider_col_6" data-slide="next" role="button">
        <span class="fa fa-angle-right"></span>
      </a>
    </div>
  </div>
</div>