<!--  Blog modal  -->
<div class="carousel slide sz_easeOutInCubic fade modal sz_bd_black sz_post_sldr_control sz_post_slider_mod_sld" role="dialog" data-duration="2000" data-interval="false" data-ride="carousel" id="sz_post_slider_6_col">
  <div class="modal-dialog">
    <div class="modal-content">
      <a href="#" class="sz_post_slider_close" data-dismiss="modal">
        <span class="fa fa-times"></span>
      </a>
      <div class="carousel-inner" role="listbox">

        <div class="item active" style="transition-duration: 2000ms;">
          <div class="sz_sldr_post_slider_image">
            <%= image_tag('sliders/test_1.jpg') %>
          </div>
          <div class="sz_post_slider_slide_txt">
            <h1>post title and description</h1>
            <div class="sz_post_slider_slide_author">
              <a href="#">
                <%= image_tag('sliders/test_1.jpg') %>
                <span>author's name</span>
              </a>
              <span>2 months ago</span>
              <p>Lorem
                ipsum dolor sit amet, consectetuer adipiscing elit. Nam nibh. Nunc
                varius facilisis eros. Sed erat. In in velit quis arcu ornare laoreet.
                Curabitur adipiscing luctus massa. Integer ut purus ac augue commodo
                commodo. Nunc nec mi eu justo tempor consectetuer. Etiam vitae nisl. In
                dignissim lacus ut ante. Cras elit lectus, bibendum a, adipiscing vitae,
                commodo et, dui. Ut tincidunt tortor. Donec nonummy, enim in lacinia
                pulvinar, velit tellus scelerisque augue, ac posuere libero urna eget
                neque. Cras ipsum. Vestibulum pretium, lectus nec venenatis volutpat,
                purus lectus ultrices risus, a condimentum risus mi et quam.
                Pellentesque auctor fringilla neque. Duis eu massa ut lorem iaculis
                vestibulum. Maecenas facilisis elit sed justo. Quisque volutpat
                malesuada velit.</p><p>Nunc at velit quis lectus nonummy eleifend.
              Curabitur eros. Aenean ligula dolor, gravida auctor, auctor et, suscipit
              in, erat. Sed malesuada, enim ut congue pharetra, massa elit convallis
              pede, ornare scelerisque libero neque ut neque. In at libero. Curabitur
              molestie. Sed vel neque. Proin et dolor ac ipsum elementum malesuada.</p>
            </div>
          </div>
        </div>

        <div class="item" style="transition-duration: 2000ms;">
          <div class="sz_sldr_post_slider_image">
            <%= image_tag('sliders/test_2.jpg') %>
          </div>
          <div class="sz_post_slider_slide_txt">
            <h1>post title and description</h1>
            <div class="sz_post_slider_slide_author">
              <a href="#">
                <%= image_tag('sliders/test_2.jpg') %>
                <span>author's name</span>
              </a>
              <span>2 months ago</span>
            </div>
            <p>Lorem
              ipsum dolor sit amet, consectetuer adipiscing elit. Nam nibh. Nunc
              varius facilisis eros. Sed erat. In in velit quis arcu ornare laoreet.
              Curabitur adipiscing luctus massa. Integer ut purus ac augue commodo
              commodo. Nunc nec mi eu justo tempor consectetuer. Etiam vitae nisl. In
              dignissim lacus ut ante. Cras elit lectus, bibendum a, adipiscing vitae,
              commodo et, dui. Ut tincidunt tortor. Donec nonummy, enim in lacinia
              pulvinar, velit tellus scelerisque augue, ac posuere libero urna eget
              neque. Cras ipsum. Vestibulum pretium, lectus nec venenatis volutpat,
              purus lectus ultrices risus, a condimentum risus mi et quam.
              Pellentesque auctor fringilla neque. Duis eu massa ut lorem iaculis
              vestibulum. Maecenas facilisis elit sed justo. Quisque volutpat
              malesuada velit.</p>
          </div>
        </div>

        <div class="item" style="transition-duration: 2000ms;">
          <div class="sz_sldr_post_slider_image">
            <%= image_tag('sliders/test_3.jpg') %>
          </div>
          <div class="sz_post_slider_slide_txt">
            <h1>post title and description</h1>
            <div class="sz_post_slider_slide_author">
              <a href="#">
                <%= image_tag('sliders/test_3.jpg') %>
                <span>author's name</span>
              </a>
              <span>2 months ago</span>
            </div>
            <p>Lorem
              ipsum dolor sit amet, consectetuer adipiscing elit. Nam nibh. Nunc
              varius facilisis eros. Sed erat. In in velit quis arcu ornare laoreet.
              Curabitur adipiscing luctus massa. Integer ut purus ac augue commodo
              commodo. Nunc nec mi eu justo tempor consectetuer. Etiam vitae nisl. In
              dignissim lacus ut ante. Cras elit lectus, bibendum a, adipiscing vitae,
              commodo et, dui. Ut tincidunt tortor. Donec nonummy, enim in lacinia
              pulvinar, velit tellus scelerisque augue, ac posuere libero urna eget
              neque. Cras ipsum. Vestibulum pretium, lectus nec venenatis volutpat,
              purus lectus ultrices risus, a condimentum risus mi et quam.
              Pellentesque auctor fringilla neque. Duis eu massa ut lorem iaculis
              vestibulum. Maecenas facilisis elit sed justo. Quisque volutpat
              malesuada velit.</p>
          </div>
        </div>

        <div class="item" style="transition-duration: 2000ms;">
          <div class="sz_sldr_post_slider_image">
            <%= image_tag('sliders/test_4.jpg') %>
          </div>
          <div class="sz_post_slider_slide_txt">
            <h1>post title and description</h1>
            <div class="sz_post_slider_slide_author">
              <a href="#">
                <%= image_tag('sliders/test_4.jpg') %>
                <span>author's name</span>
              </a>
              <span>2 months ago</span>
            </div>
            <p>Lorem
              ipsum dolor sit amet, consectetuer adipiscing elit. Nam nibh. Nunc
              varius facilisis eros. Sed erat. In in velit quis arcu ornare laoreet.
              Curabitur adipiscing luctus massa. Integer ut purus ac augue commodo
              commodo. Nunc nec mi eu justo tempor consectetuer. Etiam vitae nisl. In
              dignissim lacus ut ante. Cras elit lectus, bibendum a, adipiscing vitae,
              commodo et, dui. Ut tincidunt tortor. Donec nonummy, enim in lacinia
              pulvinar, velit tellus scelerisque augue, ac posuere libero urna eget
              neque. Cras ipsum. Vestibulum pretium, lectus nec venenatis volutpat,
              purus lectus ultrices risus, a condimentum risus mi et quam.
              Pellentesque auctor fringilla neque. Duis eu massa ut lorem iaculis
              vestibulum. Maecenas facilisis elit sed justo. Quisque volutpat
              malesuada velit.</p>
          </div>
        </div>
      </div>

      <a class="carousel-control left" href="#sz_post_slider_6_col" data-slide="prev" role="button">
        <span class="fa fa-angle-left"></span>
      </a>

      <a class="carousel-control right" href="#sz_post_slider_6_col" data-slide="next" role="button">
        <span class="fa fa-angle-right"></span>
      </a>
    </div>
  </div>
</div>

<!-- Products modal -->
<div class="carousel slide sz_easeOutInCubic fade modal sz_bd_black sz_shop_sldr_control sz_shop_slider_mod_sld" role="dialog" data-duration="2000" data-interval="false" data-ride="carousel" id="sz_shop_slider_4_col">
  <div class="modal-dialog">
    <div class="modal-content">
      <a href="#" class="sz_shop_slider_close" data-dismiss="modal">
        <span class="fa fa-times"></span>
      </a>
      <div class="carousel-inner" role="listbox"><div class="item active" style="transition-duration: 2000ms;">
        <div class="sz_sldr_shop_slider_image">
          <%= image_tag('sliders/test_1.jpg') %>
        </div>
        <div class="sz_shop_slider_slide_txt">
          <h1>Product's name and description</h1>
          <ul class="sz_shop_slider_slide_price">
            <li>$150.00</li>
          </ul>
          <ul class="sz_shop_slider_slide_rating">
            <li><span class="fa fa-star"></span></li>
            <li><span class="fa fa-star"></span></li>
            <li><span class="fa fa-star"></span></li>
            <li><span class="fa fa-star-half-o"></span></li>
            <li><span class="fa fa-star-o"></span></li>
          </ul>
          <p>Lorem
            ipsum dolor sit amet, consectetuer adipiscing elit. Nam nibh. Nunc
            varius facilisis eros. Sed erat. In in velit quis arcu ornare laoreet.
            Curabitur adipiscing luctus massa. Integer ut purus ac augue commodo
            commodo. Nunc nec mi eu justo tempor consectetuer. Etiam vitae nisl.</p>
          <form action="#">
            <div class="sz_shop_slider_slide_num">
              <label>quantity</label>
              <input max="20" min="1" name="quantity" type="number">
            </div>
            <div class="sz_shop_slider_slide_btn">
              <button type="submit">add to cart</button>
            </div>
          </form>
          <ul class="sz_shop_slider_slide_social">
            <li><a href="#"><span class="fa fa-facebook"></span></a></li>
            <li><a href="#"><span class="fa fa-twitter"></span></a></li>
            <li><a href="#"><span class="fa fa-google-plus"></span></a></li>
            <li><a href="#"><span class="fa fa-youtube"></span></a></li>
            <li><a href="#"><span class="fa fa-wordpress"></span></a></li>
          </ul>
        </div>
      </div>
        <div class="item" style="transition-duration: 2000ms;">
          <div class="sz_sldr_shop_slider_image">
            <%= image_tag('sliders/test_2.jpg') %>
            <span>sale</span>
          </div>
          <div class="sz_shop_slider_slide_txt">
            <h1>Product's name and description</h1>
            <ul class="sz_shop_slider_slide_price">
              <li>$150.00</li>
              <li><span>$300.00</span></li>
            </ul>
            <ul class="sz_shop_slider_slide_rating">
              <li><span class="fa fa-star"></span></li>
              <li><span class="fa fa-star"></span></li>
              <li><span class="fa fa-star"></span></li>
              <li><span class="fa fa-star-half-o"></span></li>
              <li><span class="fa fa-star-o"></span></li>
            </ul>
            <p>Lorem
              ipsum dolor sit amet, consectetuer adipiscing elit. Nam nibh. Nunc
              varius facilisis eros. Sed erat. In in velit quis arcu ornare laoreet.
              Curabitur adipiscing luctus massa. Integer ut purus ac augue commodo
              commodo. Nunc nec mi eu justo tempor consectetuer. Etiam vitae nisl.</p>
            <form action="#">
              <div class="sz_shop_slider_slide_num">
                <label>quantity</label>
                <input max="20" min="1" name="quantity" type="number">
              </div>
              <div class="sz_shop_slider_slide_btn">
                <button type="submit">add to cart</button>
              </div>
            </form>
            <ul class="sz_shop_slider_slide_social">
              <li><a href="#"><span class="fa fa-facebook"></span></a></li>
              <li><a href="#"><span class="fa fa-twitter"></span></a></li>
              <li><a href="#"><span class="fa fa-google-plus"></span></a></li>
              <li><a href="#"><span class="fa fa-youtube"></span></a></li>
              <li><a href="#"><span class="fa fa-wordpress"></span></a></li>
            </ul>
          </div>
        </div>
        <div class="item" style="transition-duration: 2000ms;">
          <div class="sz_sldr_shop_slider_image">
            <%= image_tag('sliders/test_3.jpg') %>
          </div>
          <div class="sz_shop_slider_slide_txt">
            <h1>Product's name and description</h1>
            <ul class="sz_shop_slider_slide_price">
              <li>$150.00</li>
            </ul>
            <ul class="sz_shop_slider_slide_rating">
              <li><span class="fa fa-star"></span></li>
              <li><span class="fa fa-star"></span></li>
              <li><span class="fa fa-star"></span></li>
              <li><span class="fa fa-star-half-o"></span></li>
              <li><span class="fa fa-star-o"></span></li>
            </ul>
            <p>Lorem
              ipsum dolor sit amet, consectetuer adipiscing elit. Nam nibh. Nunc
              varius facilisis eros. Sed erat. In in velit quis arcu ornare laoreet.
              Curabitur adipiscing luctus massa. Integer ut purus ac augue commodo
              commodo. Nunc nec mi eu justo tempor consectetuer. Etiam vitae nisl.</p>
            <form action="#">
              <div class="sz_shop_slider_slide_num">
                <label>quantity</label>
                <input max="20" min="1" name="quantity" type="number">
              </div>
              <div class="sz_shop_slider_slide_btn">
                <button type="submit">add to cart</button>
              </div>
            </form>
            <ul class="sz_shop_slider_slide_social">
              <li><a href="#"><span class="fa fa-facebook"></span></a></li>
              <li><a href="#"><span class="fa fa-twitter"></span></a></li>
              <li><a href="#"><span class="fa fa-google-plus"></span></a></li>
              <li><a href="#"><span class="fa fa-youtube"></span></a></li>
              <li><a href="#"><span class="fa fa-wordpress"></span></a></li>
            </ul>
          </div>
        </div>
        <div class="item" style="transition-duration: 2000ms;">
          <div class="sz_sldr_shop_slider_image">
            <%= image_tag('sliders/test_4.jpg') %>
            <span>sale</span>
          </div>
          <div class="sz_shop_slider_slide_txt">
            <h1>Product's name and description</h1>
            <ul class="sz_shop_slider_slide_price">
              <li>$150.00</li>
              <li><span>$300.00</span></li>
            </ul>
            <ul class="sz_shop_slider_slide_rating">
              <li><span class="fa fa-star"></span></li>
              <li><span class="fa fa-star"></span></li>
              <li><span class="fa fa-star"></span></li>
              <li><span class="fa fa-star-half-o"></span></li>
              <li><span class="fa fa-star-o"></span></li>
            </ul>
            <p>Lorem
              ipsum dolor sit amet, consectetuer adipiscing elit. Nam nibh. Nunc
              varius facilisis eros. Sed erat. In in velit quis arcu ornare laoreet.
              Curabitur adipiscing luctus massa. Integer ut purus ac augue commodo
              commodo. Nunc nec mi eu justo tempor consectetuer. Etiam vitae nisl.</p>
            <form action="#">
              <div class="sz_shop_slider_slide_num">
                <label>quantity</label>
                <input max="20" min="1" name="quantity" type="number">
              </div>
              <div class="sz_shop_slider_slide_btn">
                <button type="submit">add to cart</button>
              </div>
            </form>
            <ul class="sz_shop_slider_slide_social">
              <li><a href="#"><span class="fa fa-facebook"></span></a></li>
              <li><a href="#"><span class="fa fa-twitter"></span></a></li>
              <li><a href="#"><span class="fa fa-google-plus"></span></a></li>
              <li><a href="#"><span class="fa fa-youtube"></span></a></li>
              <li><a href="#"><span class="fa fa-wordpress"></span></a></li>
            </ul>
          </div>
        </div>
        <div class="item" style="transition-duration: 2000ms;">
          <div class="sz_sldr_shop_slider_image">
            <%= image_tag('sliders/test_1.jpg') %>
          </div>
          <div class="sz_shop_slider_slide_txt">
            <h1>Product's name and description</h1>
            <ul class="sz_shop_slider_slide_price">
              <li>$150.00</li>
            </ul>
            <ul class="sz_shop_slider_slide_rating">
              <li><span class="fa fa-star"></span></li>
              <li><span class="fa fa-star"></span></li>
              <li><span class="fa fa-star"></span></li>
              <li><span class="fa fa-star-half-o"></span></li>
              <li><span class="fa fa-star-o"></span></li>
            </ul>
            <p>Lorem
              ipsum dolor sit amet, consectetuer adipiscing elit. Nam nibh. Nunc
              varius facilisis eros. Sed erat. In in velit quis arcu ornare laoreet.
              Curabitur adipiscing luctus massa. Integer ut purus ac augue commodo
              commodo. Nunc nec mi eu justo tempor consectetuer. Etiam vitae nisl.</p>
            <form action="#">
              <div class="sz_shop_slider_slide_num">
                <label>quantity</label>
                <input max="20" min="1" name="quantity" type="number">
              </div>
              <div class="sz_shop_slider_slide_btn">
                <button type="submit">add to cart</button>
              </div>
            </form>
            <ul class="sz_shop_slider_slide_social">
              <li><a href="#"><span class="fa fa-facebook"></span></a></li>
              <li><a href="#"><span class="fa fa-twitter"></span></a></li>
              <li><a href="#"><span class="fa fa-google-plus"></span></a></li>
              <li><a href="#"><span class="fa fa-youtube"></span></a></li>
              <li><a href="#"><span class="fa fa-wordpress"></span></a></li>
            </ul>
          </div>
        </div>
        <div class="item" style="transition-duration: 2000ms;">
          <div class="sz_sldr_shop_slider_image">
            <%= image_tag('sliders/test_2.jpg') %>
          </div>
          <div class="sz_shop_slider_slide_txt">
            <h1>Product's name and description</h1>
            <ul class="sz_shop_slider_slide_price">
              <li>$150.00</li>
            </ul>
            <ul class="sz_shop_slider_slide_rating">
              <li><span class="fa fa-star"></span></li>
              <li><span class="fa fa-star"></span></li>
              <li><span class="fa fa-star"></span></li>
              <li><span class="fa fa-star-half-o"></span></li>
              <li><span class="fa fa-star-o"></span></li>
            </ul>
            <p>Lorem
              ipsum dolor sit amet, consectetuer adipiscing elit. Nam nibh. Nunc
              varius facilisis eros. Sed erat. In in velit quis arcu ornare laoreet.
              Curabitur adipiscing luctus massa. Integer ut purus ac augue commodo
              commodo. Nunc nec mi eu justo tempor consectetuer. Etiam vitae nisl.</p>
            <form action="#">
              <div class="sz_shop_slider_slide_num">
                <label>quantity</label>
                <input max="20" min="1" name="quantity" type="number">
              </div>
              <div class="sz_shop_slider_slide_btn">
                <button type="submit">add to cart</button>
              </div>
            </form>
            <ul class="sz_shop_slider_slide_social">
              <li><a href="#"><span class="fa fa-facebook"></span></a></li>
              <li><a href="#"><span class="fa fa-twitter"></span></a></li>
              <li><a href="#"><span class="fa fa-google-plus"></span></a></li>
              <li><a href="#"><span class="fa fa-youtube"></span></a></li>
              <li><a href="#"><span class="fa fa-wordpress"></span></a></li>
            </ul>
          </div>
        </div>
        <div class="item" style="transition-duration: 2000ms;">
          <div class="sz_sldr_shop_slider_image">
            <%= image_tag('sliders/test_3.jpg') %>
            <span>sale</span>
          </div>
          <div class="sz_shop_slider_slide_txt">
            <h1>Product's name and description</h1>
            <ul class="sz_shop_slider_slide_price">
              <li>$150.00</li>
              <li><span>$300.00</span></li>
            </ul>
            <ul class="sz_shop_slider_slide_rating">
              <li><span class="fa fa-star"></span></li>
              <li><span class="fa fa-star"></span></li>
              <li><span class="fa fa-star"></span></li>
              <li><span class="fa fa-star-half-o"></span></li>
              <li><span class="fa fa-star-o"></span></li>
            </ul>
            <p>Lorem
              ipsum dolor sit amet, consectetuer adipiscing elit. Nam nibh. Nunc
              varius facilisis eros. Sed erat. In in velit quis arcu ornare laoreet.
              Curabitur adipiscing luctus massa. Integer ut purus ac augue commodo
              commodo. Nunc nec mi eu justo tempor consectetuer. Etiam vitae nisl.</p>
            <form action="#">
              <div class="sz_shop_slider_slide_num">
                <label>quantity</label>
                <input max="20" min="1" name="quantity" type="number">
              </div>
              <div class="sz_shop_slider_slide_btn">
                <button type="submit">add to cart</button>
              </div>
            </form>
            <ul class="sz_shop_slider_slide_social">
              <li><a href="#"><span class="fa fa-facebook"></span></a></li>
              <li><a href="#"><span class="fa fa-twitter"></span></a></li>
              <li><a href="#"><span class="fa fa-google-plus"></span></a></li>
              <li><a href="#"><span class="fa fa-youtube"></span></a></li>
              <li><a href="#"><span class="fa fa-wordpress"></span></a></li>
            </ul>
          </div>
        </div>
        <div class="item" style="transition-duration: 2000ms;">
          <div class="sz_sldr_shop_slider_image">
            <%= image_tag('sliders/test_3.jpg') %>
          </div>
          <div class="sz_shop_slider_slide_txt">
            <h1>Product's name and description</h1>
            <ul class="sz_shop_slider_slide_price">
              <li>$150.00</li>
            </ul>
            <ul class="sz_shop_slider_slide_rating">
              <li><span class="fa fa-star"></span></li>
              <li><span class="fa fa-star"></span></li>
              <li><span class="fa fa-star"></span></li>
              <li><span class="fa fa-star-half-o"></span></li>
              <li><span class="fa fa-star-o"></span></li>
            </ul>
            <p>Lorem
              ipsum dolor sit amet, consectetuer adipiscing elit. Nam nibh. Nunc
              varius facilisis eros. Sed erat. In in velit quis arcu ornare laoreet.
              Curabitur adipiscing luctus massa. Integer ut purus ac augue commodo
              commodo. Nunc nec mi eu justo tempor consectetuer. Etiam vitae nisl.</p>
            <form action="#">
              <div class="sz_shop_slider_slide_num">
                <label>quantity</label>
                <input max="20" min="1" name="quantity" type="number">
              </div>
              <div class="sz_shop_slider_slide_btn">
                <button type="submit">add to cart</button>
              </div>
            </form>
            <ul class="sz_shop_slider_slide_social">
              <li><a href="#"><span class="fa fa-facebook"></span></a></li>
              <li><a href="#"><span class="fa fa-twitter"></span></a></li>
              <li><a href="#"><span class="fa fa-google-plus"></span></a></li>
              <li><a href="#"><span class="fa fa-youtube"></span></a></li>
              <li><a href="#"><span class="fa fa-wordpress"></span></a></li>
            </ul>
          </div>
        </div>
      </div>
      <a href="#sz_shop_slider_4_col" class="carousel-control left" data-slide="prev" role="button">
        <span class="fa fa-angle-left"></span>
      </a>
      <a href="#sz_shop_slider_4_col" class="carousel-control right" data-slide="next" role="button">
        <span class="fa fa-angle-right"></span>
      </a>
    </div>
  </div>
</div>