<!--  Blog modal  -->
<div class="carousel slide sz_easeOutInCubic fade modal sz_bd_black sz_post_sldr_control sz_post_slider_mod_sld" role="dialog" data-duration="2000" data-interval="false" data-ride="carousel" id="sz_post_slider_6_col">
  <div class="modal-dialog">
    <div class="modal-content">
      <a href="#" class="sz_post_slider_close" data-dismiss="modal">
        <span class="fa fa-times"></span>
      </a>
      <div class="carousel-inner" role="listbox">

        <div class="item active" style="transition-duration: 2000ms;">
          <div class="sz_sldr_post_slider_image">
            <%= image_tag('sliders/Oil_service.jpg') %>
          </div>
          <div class="sz_post_slider_slide_txt">
            <h1><%= t('posts.post_1_title') %></h1>
            <div class="sz_post_slider_slide_author">
              <a href="#">
                <%= image_tag('team_2.jpg') %>
                <span>Tufan</span>
              </a>
              <span>2 months ago</span>
              <%= t('posts.post_1_content').html_safe %>
            </div>
          </div>
        </div>

        <div class="item" style="transition-duration: 2000ms;">
          <div class="sz_sldr_post_slider_image">
            <%= image_tag('sliders/Tire_service.jpg') %>
          </div>
          <div class="sz_post_slider_slide_txt">
            <h1><%= t('posts.post_2_title') %></h1>
            <div class="sz_post_slider_slide_author">
              <a href="#">
                <%= image_tag('team_2.jpg') %>
                <span>Tufan</span>
              </a>
              <span>2 months ago</span>
            </div>
            <%= t('posts.post_2_content').html_safe %>
          </div>
        </div>

        <div class="item" style="transition-duration: 2000ms;">
          <div class="sz_sldr_post_slider_image">
            <%= image_tag('sliders/Small_inspection.jpg') %>
          </div>
          <div class="sz_post_slider_slide_txt">
            <h1><%= t('posts.post_3_title') %></h1>
            <div class="sz_post_slider_slide_author">
              <a href="#">
                <%= image_tag('team_2.jpg') %>
                <span>Tufan</span>
              </a>
              <span>2 months ago</span>
            </div>
            <%= t('posts.post_3_content').html_safe %>
          </div>
        </div>
      </div>
      <a class="carousel-control left" href="#sz_post_slider_6_col" data-slide="prev" role="button">
        <span class="fa fa-angle-left"></span>
      </a>

      <a class="carousel-control right" href="#sz_post_slider_6_col" data-slide="next" role="button">
        <span class="fa fa-angle-right"></span>
      </a>
    </div>
  </div>
</div>

<!-- Products modal -->
<div class="carousel slide sz_easeOutInCubic fade modal sz_bd_black sz_shop_sldr_control sz_shop_slider_mod_sld" role="dialog" data-duration="2000" data-interval="false" data-ride="carousel" id="sz_shop_slider_4_col">
  <div class="modal-dialog">
    <div class="modal-content">
      <a href="#" class="sz_shop_slider_close" data-dismiss="modal">
        <span class="fa fa-times"></span>
      </a>
      <div class="carousel-inner" role="listbox"><div class="item active" style="transition-duration: 2000ms;">
        <div class="sz_sldr_shop_slider_image">
          <%= image_tag('sliders/Oil_service.jpg') %>
        </div>
        <div class="sz_shop_slider_slide_txt">
          <h1><%= t('products.product_1.name') %></h1>
          <ul class="sz_shop_slider_slide_price">
            <li>
              €
              <%= t('products.product_1.per_month') %>
              <span>/Month</span>
            </li>
          </ul>
          <p><%= t('products.product_1.text') %></p>
          <p><%= t('products.product_1.how_does_work') %></p>
          <p>
            <%= image_tag('enjine_project.png') %>
            <%= image_tag('uber_vaucher.png', class: 'uber-vaucher') %>
          </p>
          <!--<form action="#">-->
            <!--<div class="sz_shop_slider_slide_num">-->
              <!--<label>quantity</label>-->
              <!--<input max="20" min="1" name="quantity" type="number">-->
            <!--</div>-->
            <!--<div class="sz_shop_slider_slide_btn">-->
              <!--<button type="submit">add to cart</button>-->
            <!--</div>-->
          <!--</form>-->
          <ul class="sz_shop_slider_slide_social">
            <li><a href="https://www.facebook.com/FlatService4You-1866862593557550/" target="_blank"><span class="fa fa-facebook"></span></a></li>
            <li><a href="https://www.youtube.com/channel/UCtTYZbAX0Q-S5u4k4s55_Zw" target="_blank"><span class="fa fa-youtube"></span></a></li>
          </ul>
        </div>
      </div>
        <div class="item" style="transition-duration: 2000ms;">
          <div class="sz_sldr_shop_slider_image">
            <%= image_tag('sliders/Tire_service.jpg') %>
          </div>
          <div class="sz_shop_slider_slide_txt">
            <h1><%= t('products.product_2.name') %></h1>
            <ul class="sz_shop_slider_slide_price">
              <li><%= t('no_price') %></li>
            </ul>
            <p><%= t('products.product_2.text') %></p>
            <p><%= t('products.product_2.how_does_work') %></p>
            <p><%= image_tag('tire_project.png', class: 'tire-project') %></p>
            <!--<form action="#">-->
              <!--<div class="sz_shop_slider_slide_num">-->
                <!--<label>quantity</label>-->
                <!--<input max="20" min="1" name="quantity" type="number">-->
              <!--</div>-->
              <!--<div class="sz_shop_slider_slide_btn">-->
                <!--<button type="submit">add to cart</button>-->
              <!--</div>-->
            <!--</form>-->
            <ul class="sz_shop_slider_slide_social">
              <li><a href="https://www.facebook.com/FlatService4You-1866862593557550/" target="_blank"><span class="fa fa-facebook"></span></a></li>
              <li><a href="https://www.youtube.com/channel/UCtTYZbAX0Q-S5u4k4s55_Zw" target="_blank"><span class="fa fa-youtube"></span></a></li>
            </ul>
          </div>
        </div>
        <div class="item" style="transition-duration: 2000ms;">
          <div class="sz_sldr_shop_slider_image">
            <%= image_tag('sliders/Small_inspection.jpg') %>
          </div>
          <div class="sz_shop_slider_slide_txt">
            <h1><%= t('products.product_3.name') %></h1>
            <ul class="sz_shop_slider_slide_price">
              <li><%= t('no_price') %></li>
            </ul>
            <p><%= t('products.product_3.text') %></p>
            <p><%= t('products.product_3.how_does_work') %></p>
            <p><%= image_tag('uber_vaucher.png', class: 'uber-vaucher')%></p>
            <!--<form action="#">-->
              <!--<div class="sz_shop_slider_slide_num">-->
                <!--<label>quantity</label>-->
                <!--<input max="20" min="1" name="quantity" type="number">-->
              <!--</div>-->
              <!--<div class="sz_shop_slider_slide_btn">-->
                <!--<button type="submit">add to cart</button>-->
              <!--</div>-->
            <!--</form>-->
            <ul class="sz_shop_slider_slide_social">
              <li><a href="https://www.facebook.com/FlatService4You-1866862593557550/" target="_blank"><span class="fa fa-facebook"></span></a></li>
              <li><a href="https://www.youtube.com/channel/UCtTYZbAX0Q-S5u4k4s55_Zw" target="_blank"><span class="fa fa-youtube"></span></a></li>
            </ul>
          </div>
        </div>
        <div class="item" style="transition-duration: 2000ms;">
          <div class="sz_sldr_shop_slider_image">
            <%= image_tag('sliders/General_inspection.jpg') %>
          </div>
          <div class="sz_shop_slider_slide_txt">
            <h1><%= t('products.product_4.name') %></h1>
            <ul class="sz_shop_slider_slide_price">
              <li><%= t('no_price') %></li>
            </ul>
            <p><%= t('products.product_4.text') %></p>
            <p><%= t('products.product_4.how_does_work') %></p>
            <p><%= image_tag('uber_vaucher.png', class: 'uber-vaucher')%></p>
            <!--<form action="#">-->
              <!--<div class="sz_shop_slider_slide_num">-->
                <!--<label>quantity</label>-->
                <!--<input max="20" min="1" name="quantity" type="number">-->
              <!--</div>-->
              <!--<div class="sz_shop_slider_slide_btn">-->
                <!--<button type="submit">add to cart</button>-->
              <!--</div>-->
            <!--</form>-->
            <ul class="sz_shop_slider_slide_social">
              <li><a href="https://www.facebook.com/FlatService4You-1866862593557550/" target="_blank"><span class="fa fa-facebook"></span></a></li>
              <li><a href="https://www.youtube.com/channel/UCtTYZbAX0Q-S5u4k4s55_Zw" target="_blank"><span class="fa fa-youtube"></span></a></li>
            </ul>
          </div>
        </div>
      </div>
      <a href="#sz_shop_slider_4_col" class="carousel-control left" data-slide="prev" role="button">
        <span class="fa fa-angle-left"></span>
      </a>
      <a href="#sz_shop_slider_4_col" class="carousel-control right" data-slide="next" role="button">
        <span class="fa fa-angle-right"></span>
      </a>
    </div>
  </div>
</div>