<div id="template-nt-testimony" data-section="testimonies">
  <div class="container">
    <div class="row animate-box">

      <div class="owl-carousel block-carousel">


        <div class="item">

          <div class="col-md-12 col-sm-12 col-xs-12 col-xxs-12">
            <figure class="template-nt-vcard">
              <%= image_tag('client_1.jpg', class: "img-responsive") %>
            </figure>
          </div>
          <div class="col-md-12 col-sm-12 col-xs-12 col-xxs-12">
            <blockquote>
              <p>&ldquo;<%= t('clients.client_1_text') %>;</p>
            </blockquote>
            <p class="template-nt-author template-nt-uppercase-sm"><span><%= t('clients.client_1') %></span></p>

          </div>
        </div>

        <div class="item">
          <div class="col-md-12 col-sm-12 col-xs-12 col-xxs-12">
            <figure class="template-nt-vcard">
              <%= image_tag('client_2.jpg', class: "img-responsive") %>
            </figure>
          </div>
          <div class="col-md-12 col-sm-12 col-xs-12 col-xxs-12">
            <blockquote>
              <p>&ldquo;<%= t('clients.client_2_text') %>;</p>
            </blockquote>
            <p class="template-nt-author template-nt-uppercase-sm"><span><%= t('clients.client_2') %></span></p>
          </div>
        </div>

        <div class="item">
          <div class="col-md-12 col-sm-12 col-xs-12 col-xxs-12">
            <figure class="template-nt-vcard">
              <%= image_tag('client_3.jpg', class: "img-responsive") %>
            </figure>
          </div>
          <div class="col-md-12 col-sm-12 col-xs-12 col-xxs-12">
            <blockquote>
              <p>&ldquo;<%= t('clients.client_3_text') %>;</p>
            </blockquote>
            <p class="template-nt-author template-nt-uppercase-sm"><span><%= t('clients.client_3') %></span></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>