<div id="template-nt-faqs"  data-section="faqs">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 template-nt-section-heading text-center">
        <h2 class="template-nt-lead animate-single faqs-animate-1"><%= t('faq') %></h2>
        <p class="template-nt-sub animate-single faqs-animate-2">The Gun Digest rifle section is your source for bolt-action, semi-automatic, hunting and competition rifle information.</p>
      </div>
    </div>
  </div>


  <div class="container">
    <div class="faq-accordion active to-animate-off">
      <span class="faq-accordion-icon-toggle active"><%= fa_icon 'arrow-down' %></i></span>
      <h3>Product Warranty Few Years?</h3>
      <div class="faq-body" style="display: block;">
        <p>We understand the importance of a young boy’s first gun, the thrill of the hunt with a reliable weapon, the achievement of a dream in the winning of a competition and the lives that depend upon the accuracy of a duty weapon or the home defender.We understand the importance of a young boy’s first gun, the thrill of the hunt with a reliable weapon, the achievement of a dream in the winning of a competition and the lives that depend upon the accuracy of a duty weapon or the home defender.</p>
      </div>
    </div>
    <div class="faq-accordion to-animate-off">
      <span class="faq-accordion-icon-toggle"><%= fa_icon 'arrow-down' %></span>
      <h3>Use The Products Detailed Manual?</h3>
      <div class="faq-body">
        <p>We understand the importance of a young boy’s first gun, the thrill of the hunt with a reliable weapon, the achievement of a dream in the winning of a competition and the lives that depend upon the accuracy of a duty weapon or the home defender.We understand the importance of a young boy’s first gun, the thrill of the hunt with a reliable weapon, the achievement of a dream in the winning of a competition and the lives that depend upon the accuracy of a duty weapon or the home defender.</p>
      </div>
    </div>
    <div class="faq-accordion to-animate-off">
      <span class="faq-accordion-icon-toggle"><%= fa_icon 'arrow-down' %></span>
      <h3>What is Required For Gun Ownership?</h3>
      <div class="faq-body">
        <p>We understand the importance of a young boy’s first gun, the thrill of the hunt with a reliable weapon, the achievement of a dream in the winning of a competition and the lives that depend upon the accuracy of a duty weapon or the home defender.We understand the importance of a young boy’s first gun, the thrill of the hunt with a reliable weapon, the achievement of a dream in the winning of a competition and the lives that depend upon the accuracy of a duty weapon or the home defender.</p>
      </div>
    </div>
    <div class="faq-accordion to-animate-off">
      <span class="faq-accordion-icon-toggle"><%= fa_icon 'arrow-down' %></span>
      <h3>Shipping Fee of Up to Us?</h3>
      <div class="faq-body">
        <p>We understand the importance of a young boy’s first gun, the thrill of the hunt with a reliable weapon, the achievement of a dream in the winning of a competition and the lives that depend upon the accuracy of a duty weapon or the home defender.We understand the importance of a young boy’s first gun, the thrill of the hunt with a reliable weapon, the achievement of a dream in the winning of a competition and the lives that depend upon the accuracy of a duty weapon or the home defender.</p>
      </div>
    </div>
    <div class="faq-accordion to-animate-off">
      <span class="faq-accordion-icon-toggle"><%= fa_icon 'arrow-down' %></span>
      <h3>Have Your Branch?</h3>
      <div class="faq-body">
        <p>We understand the importance of a young boy’s first gun, the thrill of the hunt with a reliable weapon, the achievement of a dream in the winning of a competition and the lives that depend upon the accuracy of a duty weapon or the home defender.We understand the importance of a young boy’s first gun, the thrill of the hunt with a reliable weapon, the achievement of a dream in the winning of a competition and the lives that depend upon the accuracy of a duty weapon or the home defender.</p>
      </div>
    </div>
    <div class="faq-accordion to-animate-off">
      <span class="faq-accordion-icon-toggle"><%= fa_icon 'arrow-down' %></i></span>
      <h3>What Kinds of Technical Problems?</h3>
      <div class="faq-body">
        <p>We understand the importance of a young boy’s first gun, the thrill of the hunt with a reliable weapon, the achievement of a dream in the winning of a competition and the lives that depend upon the accuracy of a duty weapon or the home defender.We understand the importance of a young boy’s first gun, the thrill of the hunt with a reliable weapon, the achievement of a dream in the winning of a competition and the lives that depend upon the accuracy of a duty weapon or the home defender.</p>
      </div>
    </div>

    <div class="template-nt-spacer template-nt-spacer-sm"></div>

    <div class="col-md-4 col-md-offset-4 text-center to-animate-off">
      <a href="#" class="btn btn-success"><%= t('view_all_features')%></a>
    </div>
  </div>
</div>