<div id="template-nt-faqs"  data-section="faqs">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 template-nt-section-heading text-center">
        <h2 class="template-nt-lead animate-single faqs-animate-1"><%= t('faq') %></h2>
        <p class="template-nt-sub animate-single faqs-animate-2"><%= t('faq_text') %></p>
      </div>
    </div>
  </div>


  <div class="container">
    <div class="faq-accordion active to-animate-off">
      <span class="faq-accordion-icon-toggle active"><%= fa_icon 'arrow-down' %></i></span>
      <h3><%= t('faqs.question_1') %></h3>
      <div class="faq-body" style="display: block;">
        <p><%= t('faqs.answer_1') %></p>
      </div>
    </div>
    <div class="faq-accordion to-animate-off">
      <span class="faq-accordion-icon-toggle"><%= fa_icon 'arrow-down' %></span>
      <h3><%= t('faqs.question_2') %></h3>
      <div class="faq-body">
        <p><%= t('faqs.answer_2') %></p>
      </div>
    </div>
    <div class="faq-accordion to-animate-off">
      <span class="faq-accordion-icon-toggle"><%= fa_icon 'arrow-down' %></span>
      <h3><%= t('faqs.question_3') %></h3>
      <div class="faq-body">
        <p><%= t('faqs.answer_3') %></p>
      </div>
    </div>
    <div class="faq-accordion to-animate-off">
      <span class="faq-accordion-icon-toggle"><%= fa_icon 'arrow-down' %></span>
      <h3><%= t('faqs.question_4') %></h3>
      <div class="faq-body">
        <p><%= t('faqs.answer_4') %></p>
      </div>
    </div>
    <div class="faq-accordion to-animate-off">
      <span class="faq-accordion-icon-toggle"><%= fa_icon 'arrow-down' %></span>
      <h3><%= t('faqs.question_5') %></h3>
      <div class="faq-body">
        <p><%= t('faqs.answer_5') %></p>
      </div>
    </div>
    <div class="faq-accordion to-animate-off">
      <span class="faq-accordion-icon-toggle"><%= fa_icon 'arrow-down' %></i></span>
      <h3><%= t('faqs.question_6') %></h3>
      <div class="faq-body">
        <p><%= t('faqs.answer_6') %></p>
      </div>
    </div>

    <div class="template-nt-spacer template-nt-spacer-sm"></div>

    <div class="col-md-4 col-md-offset-4 text-center to-animate-off">
      <%= link_to t('home_index'), '', class: 'btn btn-success', 'data-nav-section': 'home'%>
    </div>
  </div>
</div>