<div id="template-nt-pricing" data-section="pricing">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 template-nt-section-heading text-center">
        <h2 class="template-nt-lead animate-single pricing-animate-1">The Price of Each Product</h2>
        <p class="template-nt-sub animate-single pricing-animate-2">The Gun Digest rifle section is your source for bolt-action, semi-automatic, hunting and competition rifle information.</p>
      </div>

      <div class="col-md-3 col-sm-6 col-xs-10 col-md-offset-0 col-sm-offset-0 col-xs-offset-1 to-animate-off">
        <div class="template-nt-figure">
          <div class="product-header">
            <h4><%= t('products.product_1.name') %></h4>
            <p><%= t('products.product_1.short_description') %></p>
          </div>
          <div class="product-price">
            <div class="widget-price">€
              <%= t('products.product_1.per_month') %>
              <span>/Month</span>
            </div>
            <div class="widget-price-icon"><%= image_tag('uber_vaucher.png') %></div>
          </div>
          <div class="product-content-section">
            <ul>
              <li><%= t('products.product_1.content_1') %></li>
              <li><%= t('products.product_1.content_2') %></li>
              <li><%= t('products.product_1.content_3') %></li>
              <li>
                <span class="product-content-icon"><%= image_tag('comming_soon.png') %></span>
                <%= t('products.product_1.content_4') %>
              </li>
              <li>
                <span class="product-content-icon"><%= image_tag('comming_soon.png') %></span>
                <%= t('products.product_1.content_5') %>
              </li>
            </ul>

          </div>
          <div class="product-footer">
            <%= button_to t('products.subscribe_now'), '', class: "btn btn-xs btn-success" %>
            <p><%= t('products.secure_purchase') %></p>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-10 col-md-offset-0 col-sm-offset-0 col-xs-offset-1 to-animate-off">
        <div class="template-nt-figure">
          <div class="product-header">
            <h4><%= t('products.product_1.name') %></h4>
            <p><%= t('products.product_1.short_description') %></p>
          </div>
          <div class="product-price">
            <div class="widget-price">€
              <%= t('products.product_1.per_month') %>
              <span>/Month</span>
            </div>
            <div class="widget-price-icon"><%= image_tag('enjine_project.png') %></div>
          </div>
          <div class="product-content-section">
            <ul>
              <li><%= t('products.product_1.content_1') %></li>
              <li><%= t('products.product_1.content_2') %></li>
              <li><%= t('products.product_1.content_3') %></li>
              <li>
                <span class="product-content-icon"><%= image_tag('comming_soon.png') %></span>
                <%= t('products.product_1.content_4') %>
              </li>
              <li>
                <span class="product-content-icon"><%= image_tag('comming_soon.png') %></span>
                <%= t('products.product_1.content_5') %>
              </li>
            </ul>

          </div>
          <div class="product-footer">
            <%= button_to t('products.subscribe_now'), '', class: "btn btn-xs btn-success" %>
            <p><%= t('products.secure_purchase') %></p>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-10 col-md-offset-0 col-sm-offset-0 col-xs-offset-1 to-animate-off">
        <div class="template-nt-figure">
          <div class="product-header">
            <h4><%= t('products.product_1.name') %></h4>
            <p><%= t('products.product_1.short_description') %></p>
          </div>
          <div class="product-price">
            <div class="widget-price">€
              <%= t('products.product_1.per_month') %>
              <span>/Month</span>
            </div>
            <div class="widget-price-icon"><%= image_tag('service_check.png') %></div>
          </div>
          <div class="product-content-section">
            <ul>
              <li><%= t('products.product_1.content_1') %></li>
              <li><%= t('products.product_1.content_2') %></li>
              <li><%= t('products.product_1.content_3') %></li>
              <li>
                <span class="product-content-icon"><%= image_tag('comming_soon.png') %></span>
                <%= t('products.product_1.content_4') %>
              </li>
              <li>
                <span class="product-content-icon"><%= image_tag('comming_soon.png') %></span>
                <%= t('products.product_1.content_5') %>
              </li>
            </ul>

          </div>
          <div class="product-footer">
            <%= button_to t('products.subscribe_now'), '', class: "btn btn-xs btn-success" %>
            <p><%= t('products.secure_purchase') %></p>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-10 col-md-offset-0 col-sm-offset-0 col-xs-offset-1 to-animate-off">
        <div class="template-nt-figure">
          <div class="product-header">
            <h4><%= t('products.product_1.name') %></h4>
            <p><%= t('products.product_1.short_description') %></p>
          </div>
          <div class="product-price">
            <div class="widget-price">€
              <%= t('products.product_1.per_month') %>
              <span>/Month</span>
            </div>
            <div class="widget-price-icon"><%= image_tag('tire_project.png') %></div>
          </div>
          <div class="product-content-section">
            <ul>
              <li><%= t('products.product_1.content_1') %></li>
              <li><%= t('products.product_1.content_2') %></li>
              <li><%= t('products.product_1.content_3') %></li>
              <li>
                <span class="product-content-icon"><%= image_tag('comming_soon.png') %></span>
                <%= t('products.product_1.content_4') %>
              </li>
              <li>
                <span class="product-content-icon"><%= image_tag('comming_soon.png') %></span>
                <%= t('products.product_1.content_5') %>
              </li>
            </ul>

          </div>
          <div class="product-footer">
            <%= button_to t('products.subscribe_now'), '', class: "btn btn-xs btn-success" %>
            <p><%= t('products.secure_purchase') %></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>