<div id="template-nt-pricing" data-section="pricing">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 template-nt-section-heading text-center">
        <h2 class="template-nt-lead animate-single pricing-animate-1"><%= t('prices.header')%></h2>
        <p class="template-nt-sub animate-single pricing-animate-2">The Gun Digest rifle section is your source for bolt-action, semi-automatic, hunting and competition rifle information.</p>
      </div>

      <div class="col-md-3 col-sm-6 col-xs-10 col-md-offset-0 col-sm-offset-0 col-xs-offset-1 to-animate-off">
        <div class="template-nt-figure">
          <div class="product-header">
            <h4><%= t('products.product_1.name') %></h4>
            <p><%= t('products.product_1.short_description') %></p>
          </div>
          <div class="product-price">
            <div class="widget-price">€
              <%= t('products.product_1.per_month') %>
              <span>/Month</span>
            </div>
            <%= image_tag('oil.png', class: 'price-icons') %>
            <!--<span class="widget-price-icon"><i class="icon-oil"></i></span>-->
          </div>
          <div class="product-content-section">
            <ul>
              <li>
                <div data-toggle="tooltip" data-placement="top" title="<%= t('products.product_1.tooltip_1')%>"><%= t('products.product_1.content_1') %></div>
              </li>
              <li>
                <div data-toggle="tooltip" data-placement="top" title="<%= t('products.product_1.tooltip_2')%>"><%= t('products.product_1.content_2') %></div>
              </li>
              <li>
                <div data-toggle="tooltip" data-placement="top" title="<%= t('products.product_1.tooltip_3')%>"><%= t('products.product_1.content_3') %></div>
              </li>
              <li>
                <span class="product-content-label"><%= image_tag('comming_soon.png') %></span>
                <div class="inline" data-toggle="tooltip" data-placement="top" title="<%= t('products.product_1.tooltip_4')%>"><%= t('products.product_1.content_4') %></div>
              </li>
              <li>
                <span class="product-content-label"><%= image_tag('comming_soon.png') %></span>
                <div class="inline" data-toggle="tooltip" data-placement="top" title="<%= t('products.product_1.tooltip_5')%>"><%= t('products.product_1.content_5') %></div>
              </li>
            </ul>

          </div>
          <div class="product-footer">
            <%= button_to t('products.subscribe_now'), '', class: "btn btn-xs btn-success" %>
            <p><%= t('products.secure_purchase') %></p>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-10 col-md-offset-0 col-sm-offset-0 col-xs-offset-1 to-animate-off">
        <div class="template-nt-figure">
          <div class="product-header">
            <span class="product-content-label"><%= image_tag('comming_soon.png') %></span>
            <h4><%= t('products.product_2.name') %></h4>
            <p><%= t('products.product_2.short_description') %></p>
          </div>
          <div class="product-price">
            <div class="widget-price">
              <span><%= t('coming_soon')%></span>
            </div>
            <%= image_tag('wheel.png', class: 'price-icons') %>
            <!--<span class="widget-price-icon"><i class="icon-wheel"></i></span>-->
          </div>
          <div class="product-content-section">
            <ul>
              <li>
                <div data-toggle="tooltip" data-placement="top" title="<%= t('products.product_2.tooltip_1')%>"><%= t('products.product_2.content_1') %></div>
              </li>
              <li>
                <div data-toggle="tooltip" data-placement="top" title="<%= t('products.product_2.tooltip_2')%>"><%= t('products.product_2.content_2') %></div>
              </li>
              <li>
                <div data-toggle="tooltip" data-placement="top" title="<%= t('products.product_2.tooltip_3')%>"><%= t('products.product_2.content_3') %></div>
              </li>
              <li>
                <span class="product-content-label"><%= image_tag('comming_soon.png') %></span>
                <div class="inline" data-toggle="tooltip" data-placement="top" title="<%= t('products.product_2.tooltip_4')%>"><%= t('products.product_2.content_4') %></div>
              </li>
              <li>
                <span class="product-content-label"><%= image_tag('comming_soon.png') %></span>
                <div class="inline" data-toggle="tooltip" data-placement="top" title="<%= t('products.product_2.tooltip_5')%>"><%= t('products.product_2.content_5') %></div>
              </li>
            </ul>

          </div>
          <div class="product-footer">
            <%= button_to t('products.subscribe_now'), '', class: "btn btn-xs btn-success" %>
            <p><%= t('products.secure_purchase') %></p>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-10 col-md-offset-0 col-sm-offset-0 col-xs-offset-1 to-animate-off">
        <div class="template-nt-figure">
          <div class="product-header">
            <span class="product-content-label"><%= image_tag('comming_soon.png') %></span>
            <h4><%= t('products.product_3.name') %></h4>
            <p><%= t('products.product_3.short_description') %></p>
          </div>
          <div class="product-price">
            <div class="widget-price">
              <span><%= t('coming_soon')%></span>
            </div>
            <%= image_tag('min_list.png', class: 'price-icons') %>
            <!--<span class="widget-price-icon"><i class="icon-list-min"></i></span>-->
          </div>
          <div class="product-content-section">
            <ul>
              <li>
                <div data-toggle="tooltip" data-placement="top" title="<%= t('products.product_3.tooltip_1')%>"><%= t('products.product_3.content_1') %></div>
              </li>
              <li>
                <div data-toggle="tooltip" data-placement="top" title="<%= t('products.product_3.tooltip_2')%>"><%= t('products.product_3.content_2') %></div>
              </li>
              <li>
                <div data-toggle="tooltip" data-placement="top" title="<%= t('products.product_3.tooltip_3')%>"><%= t('products.product_3.content_3') %></div>
              </li>
              <li>
                <span class="product-content-label"><%= image_tag('comming_soon.png') %></span>
                <div class="inline" data-toggle="tooltip" data-placement="top" title="<%= t('products.product_3.tooltip_4')%>"><%= t('products.product_3.content_4') %></div>
              </li>
              <li>
                <span class="product-content-label"><%= image_tag('comming_soon.png') %></span>
                <div class="inline" data-toggle="tooltip" data-placement="top" title="<%= t('products.product_3.tooltip_5')%>"><%= t('products.product_3.content_5') %></div>
              </li>
            </ul>

          </div>
          <div class="product-footer">
            <%= button_to t('products.subscribe_now'), '', class: "btn btn-xs btn-success" %>
            <p><%= t('products.secure_purchase') %></p>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-10 col-md-offset-0 col-sm-offset-0 col-xs-offset-1 to-animate-off">
        <div class="template-nt-figure">
          <div class="product-header">
            <span class="product-content-label"><%= image_tag('comming_soon.png') %></span>
            <h4><%= t('products.product_4.name') %></h4>
            <p><%= t('products.product_4.short_description') %></p>
          </div>
          <div class="product-price">
            <div class="widget-price">
              <span><%= t('coming_soon')%></span>
            </div>
            <%= image_tag('big_list.png', class: 'price-icons') %>
            <!--<span class="widget-price-icon"><i class="icon-list-big"></i></span>-->
          </div>
          <div class="product-content-section">
            <ul>
              <li>
                <div data-toggle="tooltip" data-placement="top" title="<%= t('products.product_4.tooltip_1')%>"><%= t('products.product_4.content_1') %></div>
              </li>
              <li>
                <div data-toggle="tooltip" data-placement="top" title="<%= t('products.product_4.tooltip_2')%>"><%= t('products.product_4.content_2') %></div>
              </li>
              <li>
                <div data-toggle="tooltip" data-placement="top" title="<%= t('products.product_4.tooltip_3')%>"><%= t('products.product_4.content_3') %></div>
              </li>
              <li>
                <span class="product-content-label"><%= image_tag('comming_soon.png') %></span>
                <div class="inline" data-toggle="tooltip" data-placement="top" title="<%= t('products.product_4.tooltip_4')%>"><%= t('products.product_4.content_4') %></div>
              </li>
              <li>
                <span class="product-content-label"><%= image_tag('comming_soon.png') %></span>
                <div class="inline" data-toggle="tooltip" data-placement="top" title="<%= t('products.product_4.tooltip_5')%>"><%= t('products.product_4.content_5') %></div>
              </li>
            </ul>

          </div>
          <div class="product-footer">
            <%= button_to t('products.subscribe_now'), '', class: "btn btn-xs btn-success" %>
            <p><%= t('products.secure_purchase') %></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>