<div id="template-nt-products" data-section="products">

  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 template-nt-section-heading text-center">
        <h2 class="template-nt-lead animate-single product-animate-1"><%= t('product')%></h2>
        <p class="template-nt-sub animate-single product-animate-2">The Gun Digest rifle section is your source for bolt-action, semi-automatic, hunting and competition rifle information.</p>
      </div>


      <!--<div class="col-md-3 col-sm-6 col-xs-6 col-xxs-12">-->
        <!--<a href="images/rifle2.jpg" class="template-nt-figure to-animate-off image-popup">-->
          <!--<figure>-->
            <!--<%= image_tag('rifle2.jpg', class: "img-responsive")%>-->
          <!--</figure>-->
          <!--<h3 class="template-nt-figure-lead">Savage Arms</h3>-->
          <!--<p class="template-nt-figure-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam ut leo non turpis ultrices condimentum. Suspendisse accumsan cursus laoreet.</p>-->
        <!--</a>-->
      <!--</div>-->
      <!--<div class="col-md-3 col-sm-6 col-xs-6 col-xxs-12">-->
        <!--<a href="images/rifle3.jpg" class="template-nt-figure to-animate-off image-popup">-->
          <!--<figure>-->
            <!--<%= image_tag('rifle3.jpg', class: "img-responsive")%>-->
          <!--</figure>-->
          <!--<h3 class="template-nt-figure-lead">Benelli</h3>-->
          <!--<p class="template-nt-figure-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam ut leo non turpis ultrices condimentum. Suspendisse accumsan cursus laoreet.</p>-->
        <!--</a>-->
      <!--</div>-->
      <!--<div class="clearfix visible-sm-block"></div>-->
      <!--<div class="col-md-3 col-sm-6 col-xs-6 col-xxs-12">-->
        <!--<a href="images/rifle4.jpg" class="template-nt-figure to-animate-off image-popup">-->
          <!--<figure>-->
            <!--<%= image_tag('rifle4.jpg', class: "img-responsive")%>-->
          <!--</figure>-->
          <!--<h3 class="template-nt-figure-lead">Mossberg</h3>-->
          <!--<p class="template-nt-figure-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam ut leo non turpis ultrices condimentum. Suspendisse accumsan cursus laoreet.</p>-->
        <!--</a>-->
      <!--</div>-->
      <!--<div class="col-md-3 col-sm-6 col-xs-6 col-xxs-12">-->
        <!--<a href="images/rifle17.jpg" class="template-nt-figure to-animate-off image-popup">-->
          <!--<figure>-->
            <!--<%= image_tag('rifle17.jpg', class: "img-responsive")%>-->
          <!--</figure>-->
          <!--<h3 class="template-nt-figure-lead">Beretta</h3>-->
          <!--<p class="template-nt-figure-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam ut leo non turpis ultrices condimentum. Suspendisse accumsan cursus laoreet.</p>-->
        <!--</a>-->
      <!--</div>-->

      <!--<div class="clearfix visible-sm-block"></div>-->

      <!--<div class="template-nt-spacer template-nt-spacer-sm"></div>-->

      <!--<div class="col-md-4 col-md-offset-4 text-center to-animate-off">-->
        <!--<a href="#" class="btn btn-primary">View All Products</a>-->
      <!--</div>-->
    </div>
  </div>
</div>
