<div id="template-nt-problems" data-section="problems">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 template-nt-section-heading text-center">
        <h2 class="template-nt-lead to-animate"><%= t('problem.headline')%></h2>
        <p class="template-nt-sub to-animate"><%= t('problem.text')%></p>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-6 col-xxs-12">
        <a href="" class="template-nt-feature to-animate-off">
            <span class="template-nt-feature-icon">
              <i class="icon-money"></i>
            </span>
          <h3 class="template-nt-feature-lead"><%= t('problem.reason_1')%></h3>
          <p class="template-nt-feature-text"><%= t('problem.reason_1_text')%></p>
        </a>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-6 col-xxs-12">
        <a href="" class="template-nt-feature to-animate-off">
            <span class="template-nt-feature-icon">
              <i class="icon-car"></i>
            </span>
          <h3 class="template-nt-feature-lead"><%= t('problem.reason_2')%></h3>
          <p class="template-nt-feature-text"><%= t('problem.reason_2_text')%></p>
        </a>
      </div>
      <div class="clearfix visible-sm-block"></div>
      <div class="col-md-3 col-sm-6 col-xs-6 col-xxs-12">
        <a href="" class="template-nt-feature to-animate-off">
            <span class="template-nt-feature-icon">
              <i class="icon-handshake"></i>
            </span>
          <h3 class="template-nt-feature-lead"><%= t('problem.reason_3')%></h3>
          <p class="template-nt-feature-text"><%= t('problem.reason_3_text')%></p>
        </a>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-6 col-xxs-12">
        <a href="" class="template-nt-feature to-animate-off">
            <span class="template-nt-feature-icon">
              <i class="icon-family"></i>
            </span>
          <h3 class="template-nt-feature-lead"><%= t('problem.reason_4')%></h3>
          <p class="template-nt-feature-text"><%= t('problem.reason_4_text')%></p>
        </a>
      </div>

      <div class="clearfix visible-sm-block"></div>

      <div class="template-nt-spacer template-nt-spacer-sm"></div>

      <div class="col-md-4 col-md-offset-4 text-center to-animate-off">
        <a class="btn btn-success" href=""><%= t('home_index')%></a>
      </div>
    </div>
  </div>
</div>