<div id="template-nt-products" data-section="products">

  <div class="sz_shop_slider_wrapper">
    <div class="container">
      <div class="col-md-8 col-md-offset-2" style="padding-top: 4em">
        <div class="sz_shop_slider_header">
          <h2><%= t('product_headline') %></h2>
          <p><%= t('product_text') %></p>
        </div>
      </div>
      <div class="col-md-12">
        <div class="carousel slide sz_easeOutInCubic sz_shop_slider_control sz_shop_slider_indicators sz_shop_slider_trig thumb_scroll_x" data-duration="2000" data-interval="false" data-ride="carousel" id="sz_shop_slider_col_4" data-pause="hover">
          <!--<ol class="carousel-indicators">-->
          <!--<li data-slide-to="0" data-target="#sz_shop_slider_col_4" class="active">apple</li>-->
          <!--<li data-slide-to="1" data-target="#sz_shop_slider_col_4">samsung</li>-->
          <!--</ol>-->
          <div class="carousel-inner" role="listbox">
            <div class="item active" style="transition-duration: 2000ms;">
              <div class="row">
                <div class="col-md-3 col-sm-6 col-xs-12">
                  <div class="sz_shop_slider_trig_wrap">
                    <div class="sz_shop_slider_trig_img">
                      <%= image_tag("sliders/#{I18n.locale}/Oil_service.jpg") %>
                      <div class="sz_shop_slider_trig_btn">
                        <a href="#sz_shop_slider_4_col" data-backdrop="true" data-slide-to="0" data-toggle="modal">
                          <span class="fa fa-search"></span>
                        </a>
                      </div>
                    </div>
                    <div class="sz_shop_slider_trig_txt">
                      <div class="sz_shop_slider_trig_name">
                        <a href="#"><%= t('products.product_1.name') %></a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                  <div class="sz_shop_slider_trig_wrap">
                    <div class="sz_shop_slider_trig_img">
                      <%= image_tag("sliders/#{I18n.locale}/Tire_service.jpg") %>
                      <div class="sz_shop_slider_trig_btn">
                        <a href="#sz_shop_slider_4_col" data-backdrop="true" data-slide-to="1" data-toggle="modal"><span class="fa fa-search"></span></a>
                      </div>
                    </div>
                    <div class="sz_shop_slider_trig_txt">
                      <div class="sz_shop_slider_trig_name">
                        <a href="#"><%= t('products.product_2.name') %></a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                  <div class="sz_shop_slider_trig_wrap">
                    <div class="sz_shop_slider_trig_img">
                      <%= image_tag("sliders/#{I18n.locale}/Small_inspection.jpg") %>
                      <div class="sz_shop_slider_trig_btn">
                        <a href="#sz_shop_slider_4_col" data-backdrop="true" data-slide-to="2" data-toggle="modal">
                          <span class="fa fa-search"></span>
                        </a>
                      </div>
                    </div>
                    <div class="sz_shop_slider_trig_txt">
                      <div class="sz_shop_slider_trig_name">
                        <a href="#"><%= t('products.product_3.name') %></a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                  <div class="sz_shop_slider_trig_wrap">
                    <div class="sz_shop_slider_trig_img">
                      <%= image_tag("sliders/#{I18n.locale}/General_inspection.jpg") %>
                      <div class="sz_shop_slider_trig_btn">
                        <a href="#sz_shop_slider_4_col" data-backdrop="true" data-slide-to="3" data-toggle="modal">
                          <span class="fa fa-search"></span>
                        </a>
                      </div>
                    </div>
                    <div class="sz_shop_slider_trig_txt">
                      <div class="sz_shop_slider_trig_name">
                        <a href="#"><%= t('products.product_4.name') %></a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="item" style="transition-duration: 2000ms;">
              <div class="row">
                <div class="col-md-3 col-sm-6 col-xs-12">
                  <div class="sz_shop_slider_trig_wrap">
                    <div class="sz_shop_slider_trig_img">
                      <%= image_tag("sliders/#{I18n.locale}/Oil_service.jpg") %>
                      <div class="sz_shop_slider_trig_btn">
                        <a href="#sz_shop_slider_4_col" data-backdrop="true" data-slide-to="4" data-toggle="modal">
                          <span class="fa fa-search"></span>
                        </a>
                      </div>
                    </div>
                    <div class="sz_shop_slider_trig_txt">
                      <div class="sz_shop_slider_trig_name">
                        <a href="#"><%= t('products.product_1.name') %></a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                  <div class="sz_shop_slider_trig_wrap">
                    <div class="sz_shop_slider_trig_img">
                      <%= image_tag("sliders/#{I18n.locale}/Tire_service.jpg") %>
                      <div class="sz_shop_slider_trig_btn">
                        <a href="#sz_shop_slider_4_col" data-backdrop="true" data-slide-to="5" data-toggle="modal">
                          <span class="fa fa-search"></span>
                        </a>
                      </div>
                    </div>
                    <div class="sz_shop_slider_trig_txt">
                      <div class="sz_shop_slider_trig_name">
                        <a href="#"><%= t('products.product_2.name') %></a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                  <div class="sz_shop_slider_trig_wrap">
                    <div class="sz_shop_slider_trig_img">
                      <%= image_tag("sliders/#{I18n.locale}/Small_inspection.jpg") %>
                      <div class="sz_shop_slider_trig_btn">
                        <a href="#sz_shop_slider_4_col" data-backdrop="true" data-slide-to="6" data-toggle="modal">
                          <span class="fa fa-search"></span>
                        </a>
                      </div>
                    </div>
                    <div class="sz_shop_slider_trig_txt">
                      <div class="sz_shop_slider_trig_name">
                        <a href="#"><%= t('products.product_3.name') %></a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                  <div class="sz_shop_slider_trig_wrap">
                    <div class="sz_shop_slider_trig_img">
                      <%= image_tag("sliders/#{I18n.locale}/General_inspection.jpg") %>
                      <div class="sz_shop_slider_trig_btn">
                        <a href="#sz_shop_slider_4_col" data-backdrop="true" data-slide-to="7" data-toggle="modal">
                          <span class="fa fa-search"></span>
                        </a>
                      </div>
                    </div>
                    <div class="sz_shop_slider_trig_txt">
                      <div class="sz_shop_slider_trig_name">
                        <a href="#"><%= t('products.product_4.name') %></a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!--<a href="#sz_shop_slider_col_4" class="carousel-control left" data-slide="prev" role="button"><span class="fa fa-angle-left"></span> </a>-->
          <!--<a href="#sz_shop_slider_col_4" class="carousel-control right" data-slide="next" role="button"><span class="fa fa-angle-right"></span></a>-->
        </div>
      </div>
    </div>
  </div>
</div>
