<div id="template-nt-problems" data-section="problems">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 template-nt-section-heading text-center">
        <h2 class="template-nt-lead to-animate"><%= t('problem.headline')%></h2>
        <p class="template-nt-sub to-animate"><%= t('problem.text')%></p>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-6 col-xxs-12">
        <a href="#" class="template-nt-feature to-animate-off">
            <span class="template-nt-feature-icon">
              <i class="fa fa-hand-o-right"></i>
            </span>
          <h3 class="template-nt-feature-lead"><%= t('problem.reason_1')%></h3>
          <p class="template-nt-feature-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam ut leo non turpis ultrices condimentum. Suspendisse accumsan cursus laoreet.</p>
        </a>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-6 col-xxs-12">
        <a href="#" class="template-nt-feature to-animate-off">
            <span class="template-nt-feature-icon">
              <%= fa_icon "thumbs-o-up" %>
            </span>
          <h3 class="template-nt-feature-lead"><%= t('problem.reason_2')%></h3>
          <p class="template-nt-feature-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam ut leo non turpis ultrices condimentum. Suspendisse accumsan cursus laoreet.</p>
        </a>
      </div>
      <div class="clearfix visible-sm-block"></div>
      <div class="col-md-3 col-sm-6 col-xs-6 col-xxs-12">
        <a href="#" class="template-nt-feature to-animate-off">
            <span class="template-nt-feature-icon">
              <%= fa_icon "hand-pointer-o" %>
            </span>
          <h3 class="template-nt-feature-lead"><%= t('problem.reason_3')%></h3>
          <p class="template-nt-feature-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam ut leo non turpis ultrices condimentum. Suspendisse accumsan cursus laoreet.</p>
        </a>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-6 col-xxs-12">
        <a href="#" class="template-nt-feature to-animate-off">
            <span class="template-nt-feature-icon">
              <%= fa_icon "hourglass-o" %>
            </span>
          <h3 class="template-nt-feature-lead"><%= t('problem.reason_4')%></h3>
          <p class="template-nt-feature-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam ut leo non turpis ultrices condimentum. Suspendisse accumsan cursus laoreet.</p>
        </a>
      </div>

      <div class="clearfix visible-sm-block"></div>

      <div class="template-nt-spacer template-nt-spacer-sm"></div>

      <div class="col-md-4 col-md-offset-4 text-center to-animate-off">
        <a href="#" class="btn btn-primary"><%= t('view_all_features')%></a>
      </div>
    </div>
  </div>
</div>