<div id="template-nt-solution" data-section="solution">
  <div class="template-nt-solution-content">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2 template-nt-section-heading text-center">
          <h2 class="template-nt-lead to-animate-off"><%= t('solution.headline')%></h2>
          <p class="template-nt-sub to-animate-off"><%= t('solution.text')%></p>
        </div>
        <div class="col-md-4 template-nt-text-wrap">
          <div class="row text-center">
            <div class="col-md-12 col-sm-6 col-xs-6 col-xxs-12 template-nt-text animate-object solution-animate-3">
              <span class="template-nt-icon"><i class="icon-screen-desktop"></i></span>
              <h4 class="template-nt-uppercase-sm"><%= t('solution.reason_1')%></h4>
              <p>Built to replicate one of the most popular and well-made 9mm submachine guns in the world, the GSG-522 has earned a loyal following of its own.</p>
            </div>
            <div class="col-md-12 col-sm-6 col-xs-6 col-xxs-12 template-nt-text animate-object solution-animate-4">
              <span class="template-nt-icon"><i class="icon-anchor"></i></span>
              <h4 class="template-nt-uppercase-sm"><%= t('solution.reason_2')%></h4>
              <p>Built to replicate one of the most popular and well-made 9mm submachine guns in the world, the GSG-522 has earned a loyal following of its own.</p>
            </div>

          </div>
        </div>
        <div class="col-md-4 col-md-push-4 template-nt-text-wrap">
          <div class="row text-center">
            <div class="col-md-12 col-sm-6 col-xs-6 col-xxs-12 template-nt-text animate-object solution-animate-5">
              <span class="template-nt-icon"><i class="icon-rocket"></i></span>
              <h4 class="template-nt-uppercase-sm"><%= t('solution.reason_3')%></h4>
              <p>Built to replicate one of the most popular and well-made 9mm submachine guns in the world, the GSG-522 has earned a loyal following of its own.</p>
            </div>
            <div class="col-md-12 col-sm-6 col-xs-6 col-xxs-12 template-nt-text animate-object solution-animate-6">
                <span class="template-nt-icon">
                  <%= fa_icon "send-o" %>
                </span>
              <h4 class="template-nt-uppercase-sm"><%= t('solution.reason_4')%></h4>
              <p>Built to replicate one of the most popular and well-made 9mm submachine guns in the world, the GSG-522 has earned a loyal following of its own.</p>
            </div>

          </div>
        </div>
        <div class="col-md-4 col-md-pull-4 template-nt-image animate-object solution-animate-2">
          <p class="text-center">
            <%= image_tag('riflenew.png')%>
          </p>
        </div>

      </div>
    </div>
  </div>

</div>