<div class="owl-carousel owl-theme" id="videosCarousel">
  <div class="responsive-promo-video"><%= video_tag("FS4Y_en.mp4", controls: true)%></div>
  <div class="responsive-promo-video"><%= video_tag("FS4Y_Product_Oil_Service_en.mp4", controls: true)%></div>
  <div class="responsive-promo-video"><%= video_tag("FS4Y_higherWear_en.mp4", controls: true)%></div>
  <div class="responsive-promo-video"><%= video_tag("FS4Y_Higher_Resale_en.mp4", controls: true)%></div>
  <div class="responsive-promo-video"><%= video_tag("FS4Y_Oil_change_when_en.mp4", controls: true)%></div>
</div>