<div class="owl-carousel owl-theme" id="videosCarousel">
  <div class="responsive-promo-video"><%= video_tag("FS4Y_#{I18n.locale}.mp4", controls: true, preload: "metadata", onPlay: "ga('send', 'event', 'video', 'play', 'FS4Y_#{I18n.locale}.mp4');")%></div>
  <div class="responsive-promo-video"><%= video_tag("FS4Y_Product_Oil_Service_#{I18n.locale}.mp4", controls: true, preload: "metadata", onPlay: "ga('send', 'event', 'video', 'play', 'FS4Y_Product_Oil_Service_#{I18n.locale}.mp4');")%></div>
  <div class="responsive-promo-video"><%= video_tag("FS4Y_higherWear_#{I18n.locale}.mp4", controls: true, preload: "metadata", onPlay: "ga('send', 'event', 'video', 'play', 'FS4Y_higherWear_#{I18n.locale}.mp4');")%></div>
  <div class="responsive-promo-video"><%= video_tag("FS4Y_Higher_Resale_#{I18n.locale}.mp4", controls: true, preload: "metadata", onPlay: "ga('send', 'event', 'video', 'play', 'FS4Y_Higher_Resale_#{I18n.locale}.mp4');")%></div>
  <div class="responsive-promo-video"><%= video_tag("FS4Y_Oil_change_when_#{I18n.locale}.mp4", controls: true, preload: "metadata", onPlay: "ga('send', 'event', 'video', 'play', 'FS4Y_Oil_change_when_#{I18n.locale}.mp4');")%></div>
</div>