<div id="template-nt-main">
  <div id="template-nt-clients">
    <div class="container">
      <div class="row text-center">
        <div class="col-md-3 col-sm-6 col-xs-6">
          <figure class="template-nt-client">
            <%= image_tag('autobooking.png')%>
          </figure>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-6">
          <figure class="template-nt-client">
          </figure>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-6">
          <figure class="template-nt-client">
          </figure>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-6">
          <figure class="template-nt-client">
          </figure>
        </div>
      </div>
    </div>
  </div>


  <%= render 'promo'%>
  <%= render 'problem'%>
  <%= render 'solution'%>
  <%= render 'product'%>
  <%= render 'price'%>
  <%= render 'team'%>
  <%= render 'faq'%>
  <%= render 'blog'%>

  <%= render 'users/form' %>


  <div id="template-nt-features-2" data-section="design">
    <div class="template-nt-features-2-content">
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-md-offset-2 template-nt-section-heading text-center">
            <h2 class="template-nt-lead to-animate-off">Product Description</h2>
            <p class="template-nt-sub to-animate-off">Built to replicate one of the most popular and well-made 9mm submachine guns in the world, the GSG-522 has earned a loyal following of its own. Similar in appearance and function to the famous MP5, the 522 is prized for its reliability and compact size.</p>
          </div>
          <div class="col-md-4 template-nt-text-wrap">
            <div class="row text-center">
              <div class="col-md-12 col-sm-6 col-xs-6 col-xxs-12 template-nt-text animate-object features-2-animate-3">
                <span class="template-nt-icon"><i class="icon-screen-desktop"></i></span>
                <h4 class="template-nt-uppercase-sm">BOLT ACTION</h4>
                <p>Built to replicate one of the most popular and well-made 9mm submachine guns in the world, the GSG-522 has earned a loyal following of its own.</p>
              </div>
              <div class="col-md-12 col-sm-6 col-xs-6 col-xxs-12 template-nt-text animate-object features-2-animate-4">
                <span class="template-nt-icon"><i class="icon-anchor"></i></span>
                <h4 class="template-nt-uppercase-sm">SEMI-AUTOMATIC</h4>
                <p>Built to replicate one of the most popular and well-made 9mm submachine guns in the world, the GSG-522 has earned a loyal following of its own.</p>
              </div>

            </div>
          </div>
          <div class="col-md-4 col-md-push-4 template-nt-text-wrap">
            <div class="row text-center">
              <div class="col-md-12 col-sm-6 col-xs-6 col-xxs-12 template-nt-text animate-object features-2-animate-5">
                <span class="template-nt-icon"><i class="icon-rocket"></i></span>
                <h4 class="template-nt-uppercase-sm">RIFLE AMMO</h4>
                <p>Built to replicate one of the most popular and well-made 9mm submachine guns in the world, the GSG-522 has earned a loyal following of its own.</p>
              </div>
              <div class="col-md-12 col-sm-6 col-xs-6 col-xxs-12 template-nt-text animate-object features-2-animate-6">
                <span class="template-nt-icon">
                  <%= fa_icon "send-o" %>
                </span>
                <h4 class="template-nt-uppercase-sm">Legal Springfield</h4>
                <p>Built to replicate one of the most popular and well-made 9mm submachine guns in the world, the GSG-522 has earned a loyal following of its own.</p>
              </div>

            </div>
          </div>
          <div class="col-md-4 col-md-pull-4 template-nt-image animate-object features-2-animate-2">
            <p class="text-center">
              <%= image_tag('riflenew.png')%>
            </p>
          </div>

        </div>
      </div>
    </div>

  </div>


  <div id="template-nt-testimony" data-section="testimonies">
    <div class="container">
      <div class="row animate-box">

        <div class="owl-carousel">


          <div class="item">

            <div class="col-md-12 col-sm-12 col-xs-12 col-xxs-12">
              <figure class="template-nt-vcard">
                <%= image_tag('client_1.png', class: "img-responsive") %>
              </figure>
            </div>
            <div class="col-md-12 col-sm-12 col-xs-12 col-xxs-12">
              <blockquote>
                <p>&ldquo;The Gun Digest rifle section is your source for bolt-action, semi-automatic, hunting and competition rifle information. The section brings you rifle articles, advice, reviews and videos from some of the most trusted names in the shooting world;</p>
              </blockquote>
              <p class="template-nt-author template-nt-uppercase-sm"><span>Gustav Barrow</span>, XYZ Inc.</p>

            </div>
          </div>

          <div class="item">
            <div class="col-md-12 col-sm-12 col-xs-12 col-xxs-12">
              <figure class="template-nt-vcard">
                <%= image_tag('client_1.png', class: "img-responsive") %>
              </figure>
            </div>
            <div class="col-md-12 col-sm-12 col-xs-12 col-xxs-12">
              <blockquote>
                <p>&ldquo;The Gun Digest rifle section is your source for bolt-action, semi-automatic, hunting and competition rifle information. The section brings you rifle articles, advice, reviews and videos from some of the most trusted names in the shooting world;</p>
              </blockquote>
              <p class="template-nt-author template-nt-uppercase-sm"><span>Gustav Barrow</span>, XYZ Inc.</p>
            </div>
          </div>

          <div class="item">
            <div class="col-md-12 col-sm-12 col-xs-12 col-xxs-12">
              <figure class="template-nt-vcard">
                <%= image_tag('client_1.png', class: "img-responsive") %>
              </figure>
            </div>
            <div class="col-md-12 col-sm-12 col-xs-12 col-xxs-12">
              <blockquote>
                <p>&ldquo;The Gun Digest rifle section is your source for bolt-action, semi-automatic, hunting and competition rifle information. The section brings you rifle articles, advice, reviews and videos from some of the most trusted names in the shooting world;</p>
              </blockquote>
              <p class="template-nt-author template-nt-uppercase-sm"><span>Gustav Barrow</span>, XYZ Inc.</p>
            </div>
          </div>


        </div>

      </div>
    </div>
  </div>


  <div id="template-nt-counter" class="template-nt-bg-section" style="background-image: url(images/rifle19.jpg); background-attachment: fixed;">
    <div class="template-nt-overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="template-nt-hero-wrap">
            <div class="template-nt-hero-intro text-center to-animate-off counter-animate">
              <div class="col-md-4 text-center">
                <span class="template-nt-counter js-counter" data-from="0" data-to="28" data-speed="5000" data-refresh-interval="50"></span>
                <span class="template-nt-counter-label">subverts</span>

              </div>
              <div class="col-md-4 text-center">
                <span class="template-nt-counter js-counter" data-from="0" data-to="57" data-speed="5000" data-refresh-interval="50"></span>
                <span class="template-nt-counter-label">Rifle</span>
              </div>
              <div class="col-md-4 text-center">
                <span class="template-nt-counter js-counter" data-from="0" data-to="34023" data-speed="5000" data-refresh-interval="50"></span>
                <span class="template-nt-counter-label">bullet</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
