<div id="template-nt-main">
  <div id="template-nt-clients">
    <div class="container">
      <div class="row text-center">
        <div class="col-md-3 col-sm-6 col-xs-6">
          <figure class="template-nt-client">
            <%= image_tag('logos/ab.png')%>
          </figure>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-6">
          <figure class="template-nt-client">
            <%= image_tag('logos/uber.png', style: 'margin: 15px')%>
          </figure>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-6">
          <figure class="template-nt-client">
            <%= image_tag('logos/axa.png')%>
          </figure>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-6">
          <figure class="template-nt-client">
            <%= image_tag('logos/tuv.png')%>
          </figure>
        </div>
      </div>
    </div>
  </div>

  <%= render 'promo'%>
  <%= render 'problem'%>
  <%= render 'solution'%>
  <%= render 'video'%>
  <%= render 'product'%>
  <%= render 'price'%>
  <%= render 'client'%>

  <div id="template-nt-counter" class="template-nt-bg-section" style="background-image: url(<%= image_path('counter.jpg') %>); background-attachment: fixed;">
    <div class="template-nt-overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="template-nt-hero-wrap">
            <div class="template-nt-hero-intro text-center to-animate-off counter-animate">
              <div class="col-md-4 text-center">
                <span class="template-nt-counter js-counter" data-from="0" data-to="28" data-speed="5000" data-refresh-interval="50"></span>
                <span class="template-nt-counter-label"><%= t('weeks') %></span>

              </div>
              <div class="col-md-4 text-center">
                <span class="template-nt-counter js-counter" data-from="0" data-to="57" data-speed="5000" data-refresh-interval="50"></span>
                <span class="template-nt-counter-label"><%= t('days') %></span>
              </div>
              <div class="col-md-4 text-center">
                <span class="template-nt-counter js-counter" data-from="0" data-to="34023" data-speed="5000" data-refresh-interval="50"></span>
                <span class="template-nt-counter-label"><%= t('minutes') %></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <%= render 'team'%>
  <%= render 'faq'%>
  <%= render 'blog'%>

  <%= render 'users/form' %>
</div>
