<div id="template-nt-main">
  <div id="template-nt-clients">
    <div class="container">
      <div class="row text-center">
        <div class="col-md-3 col-sm-6 col-xs-6">
          <figure class="template-nt-client">
            <%= image_tag('client_1.png')%>
          </figure>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-6">
          <figure class="template-nt-client">
            <%= image_tag('client_2.png')%>
          </figure>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-6">
          <figure class="template-nt-client">
            <%= image_tag('client_3.png')%>
          </figure>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-6">
          <figure class="template-nt-client">
            <%= image_tag('client_4.png')%>
          </figure>
        </div>
      </div>
    </div>
  </div>
  <div id="template-nt-features" data-section="features">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2 template-nt-section-heading text-center">
          <h2 class="template-nt-lead to-animate-off">Explore our amazing weapans </h2>
          <p class="template-nt-sub to-animate-off"> We understand the importance of a young boy’s first gun, the thrill of the hunt with a reliable weapon, the achievement of a dream in the winning.</p>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-6 col-xxs-12">
          <a href="#" class="template-nt-feature to-animate-off">
            <span class="template-nt-feature-icon">
              <i class="fa fa-hand-o-right"></i>
            </span>
            <h3 class="template-nt-feature-lead">Key Features </h3>
            <p class="template-nt-feature-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam ut leo non turpis ultrices condimentum. Suspendisse accumsan cursus laoreet.</p>
          </a>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-6 col-xxs-12">
          <a href="#" class="template-nt-feature to-animate-off">
            <span class="template-nt-feature-icon">
              <%= fa_icon "thumbs-o-up" %>
            </span>
            <h3 class="template-nt-feature-lead">Lightweight Carbine</h3>
            <p class="template-nt-feature-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam ut leo non turpis ultrices condimentum. Suspendisse accumsan cursus laoreet.</p>
          </a>
        </div>
        <div class="clearfix visible-sm-block"></div>
        <div class="col-md-3 col-sm-6 col-xs-6 col-xxs-12">
          <a href="#" class="template-nt-feature to-animate-off">
            <span class="template-nt-feature-icon">
              <%= fa_icon "hand-pointer-o" %>
            </span>
            <h3 class="template-nt-feature-lead">Removable Barrel </h3>
            <p class="template-nt-feature-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam ut leo non turpis ultrices condimentum. Suspendisse accumsan cursus laoreet.</p>
          </a>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-6 col-xxs-12">
          <a href="#" class="template-nt-feature to-animate-off">
            <span class="template-nt-feature-icon">
              <%= fa_icon "hourglass-o" %>
            </span>
            <h3 class="template-nt-feature-lead">Ambidextrous Safety</h3>
            <p class="template-nt-feature-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam ut leo non turpis ultrices condimentum. Suspendisse accumsan cursus laoreet.</p>
          </a>
        </div>

        <div class="clearfix visible-sm-block"></div>

        <div class="template-nt-spacer template-nt-spacer-sm"></div>

        <div class="col-md-4 col-md-offset-4 text-center to-animate-off">
          <a href="#" class="btn btn-primary">View All Features</a>
        </div>
      </div>
    </div>


  </div>



  <div id="template-nt-features-2" data-section="design">
    <div class="template-nt-features-2-content">
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-md-offset-2 template-nt-section-heading text-center">
            <h2 class="template-nt-lead to-animate-off">Product Description</h2>
            <p class="template-nt-sub to-animate-off">Built to replicate one of the most popular and well-made 9mm submachine guns in the world, the GSG-522 has earned a loyal following of its own. Similar in appearance and function to the famous MP5, the 522 is prized for its reliability and compact size.</p>
          </div>
          <div class="col-md-4 template-nt-text-wrap">
            <div class="row text-center">
              <div class="col-md-12 col-sm-6 col-xs-6 col-xxs-12 template-nt-text animate-object features-2-animate-3">
                <span class="template-nt-icon"><i class="icon-screen-desktop"></i></span>
                <h4 class="template-nt-uppercase-sm">BOLT ACTION</h4>
                <p>Built to replicate one of the most popular and well-made 9mm submachine guns in the world, the GSG-522 has earned a loyal following of its own.</p>
              </div>
              <div class="col-md-12 col-sm-6 col-xs-6 col-xxs-12 template-nt-text animate-object features-2-animate-4">
                <span class="template-nt-icon"><i class="icon-anchor"></i></span>
                <h4 class="template-nt-uppercase-sm">SEMI-AUTOMATIC</h4>
                <p>Built to replicate one of the most popular and well-made 9mm submachine guns in the world, the GSG-522 has earned a loyal following of its own.</p>
              </div>

            </div>
          </div>
          <div class="col-md-4 col-md-push-4 template-nt-text-wrap">
            <div class="row text-center">
              <div class="col-md-12 col-sm-6 col-xs-6 col-xxs-12 template-nt-text animate-object features-2-animate-5">
                <span class="template-nt-icon"><i class="icon-rocket"></i></span>
                <h4 class="template-nt-uppercase-sm">RIFLE AMMO</h4>
                <p>Built to replicate one of the most popular and well-made 9mm submachine guns in the world, the GSG-522 has earned a loyal following of its own.</p>
              </div>
              <div class="col-md-12 col-sm-6 col-xs-6 col-xxs-12 template-nt-text animate-object features-2-animate-6">
                <span class="template-nt-icon">
                  <%= fa_icon "send-o" %>
                </span>
                <h4 class="template-nt-uppercase-sm">Legal Springfield</h4>
                <p>Built to replicate one of the most popular and well-made 9mm submachine guns in the world, the GSG-522 has earned a loyal following of its own.</p>
              </div>

            </div>
          </div>
          <div class="col-md-4 col-md-pull-4 template-nt-image animate-object features-2-animate-2">
            <p class="text-center">
              <%= image_tag('riflenew.png')%>
            </p>
          </div>

        </div>
      </div>
    </div>

  </div>


  <div id="template-nt-testimony" data-section="testimonies">
    <div class="container">
      <div class="row animate-box">

        <div class="owl-carousel">


          <div class="item">

            <div class="col-md-12 col-sm-12 col-xs-12 col-xxs-12">
              <figure class="template-nt-vcard">
                <%= image_tag('client_1.png', class: "img-responsive") %>
              </figure>
            </div>
            <div class="col-md-12 col-sm-12 col-xs-12 col-xxs-12">
              <blockquote>
                <p>&ldquo;The Gun Digest rifle section is your source for bolt-action, semi-automatic, hunting and competition rifle information. The section brings you rifle articles, advice, reviews and videos from some of the most trusted names in the shooting world;</p>
              </blockquote>
              <p class="template-nt-author template-nt-uppercase-sm"><span>Gustav Barrow</span>, XYZ Inc.</p>

            </div>
          </div>

          <div class="item">
            <div class="col-md-12 col-sm-12 col-xs-12 col-xxs-12">
              <figure class="template-nt-vcard">
                <%= image_tag('client_1.png', class: "img-responsive") %>
              </figure>
            </div>
            <div class="col-md-12 col-sm-12 col-xs-12 col-xxs-12">
              <blockquote>
                <p>&ldquo;The Gun Digest rifle section is your source for bolt-action, semi-automatic, hunting and competition rifle information. The section brings you rifle articles, advice, reviews and videos from some of the most trusted names in the shooting world;</p>
              </blockquote>
              <p class="template-nt-author template-nt-uppercase-sm"><span>Gustav Barrow</span>, XYZ Inc.</p>
            </div>
          </div>

          <div class="item">
            <div class="col-md-12 col-sm-12 col-xs-12 col-xxs-12">
              <figure class="template-nt-vcard">
                <%= image_tag('client_1.png', class: "img-responsive") %>
              </figure>
            </div>
            <div class="col-md-12 col-sm-12 col-xs-12 col-xxs-12">
              <blockquote>
                <p>&ldquo;The Gun Digest rifle section is your source for bolt-action, semi-automatic, hunting and competition rifle information. The section brings you rifle articles, advice, reviews and videos from some of the most trusted names in the shooting world;</p>
              </blockquote>
              <p class="template-nt-author template-nt-uppercase-sm"><span>Gustav Barrow</span>, XYZ Inc.</p>
            </div>
          </div>


        </div>

      </div>
    </div>
  </div>


  <div id="template-nt-counter" class="template-nt-bg-section" style="background-image: url(images/rifle19.jpg); background-attachment: fixed;">
    <div class="template-nt-overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="template-nt-hero-wrap">
            <div class="template-nt-hero-intro text-center to-animate-off counter-animate">
              <div class="col-md-4 text-center">
                <span class="template-nt-counter js-counter" data-from="0" data-to="28" data-speed="5000" data-refresh-interval="50"></span>
                <span class="template-nt-counter-label">subverts</span>

              </div>
              <div class="col-md-4 text-center">
                <span class="template-nt-counter js-counter" data-from="0" data-to="57" data-speed="5000" data-refresh-interval="50"></span>
                <span class="template-nt-counter-label">Rifle</span>
              </div>
              <div class="col-md-4 text-center">
                <span class="template-nt-counter js-counter" data-from="0" data-to="34023" data-speed="5000" data-refresh-interval="50"></span>
                <span class="template-nt-counter-label">bullet</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div id="template-nt-products" data-section="products">

    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2 template-nt-section-heading text-center">
          <h2 class="template-nt-lead animate-single product-animate-1">Recently Viewed Items</h2>
          <p class="template-nt-sub animate-single product-animate-2">The Gun Digest rifle section is your source for bolt-action, semi-automatic, hunting and competition rifle information.</p>
        </div>


        <div class="col-md-3 col-sm-6 col-xs-6 col-xxs-12">
          <a href="images/rifle2.jpg" class="template-nt-figure to-animate-off image-popup">
            <figure>
              <%= image_tag('rifle2.jpg', class: "img-responsive")%>
            </figure>
            <h3 class="template-nt-figure-lead">Savage Arms</h3>
            <p class="template-nt-figure-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam ut leo non turpis ultrices condimentum. Suspendisse accumsan cursus laoreet.</p>
          </a>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-6 col-xxs-12">
          <a href="images/rifle3.jpg" class="template-nt-figure to-animate-off image-popup">
            <figure>
              <%= image_tag('rifle3.jpg', class: "img-responsive")%>
            </figure>
            <h3 class="template-nt-figure-lead">Benelli</h3>
            <p class="template-nt-figure-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam ut leo non turpis ultrices condimentum. Suspendisse accumsan cursus laoreet.</p>
          </a>
        </div>
        <div class="clearfix visible-sm-block"></div>
        <div class="col-md-3 col-sm-6 col-xs-6 col-xxs-12">
          <a href="images/rifle4.jpg" class="template-nt-figure to-animate-off image-popup">
            <figure>
              <%= image_tag('rifle4.jpg', class: "img-responsive")%>
            </figure>
            <h3 class="template-nt-figure-lead">Mossberg</h3>
            <p class="template-nt-figure-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam ut leo non turpis ultrices condimentum. Suspendisse accumsan cursus laoreet.</p>
          </a>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-6 col-xxs-12">
          <a href="images/rifle17.jpg" class="template-nt-figure to-animate-off image-popup">
            <figure>
              <%= image_tag('rifle17.jpg', class: "img-responsive")%>
            </figure>
            <h3 class="template-nt-figure-lead">Beretta</h3>
            <p class="template-nt-figure-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam ut leo non turpis ultrices condimentum. Suspendisse accumsan cursus laoreet.</p>
          </a>
        </div>

        <div class="clearfix visible-sm-block"></div>

        <div class="template-nt-spacer template-nt-spacer-sm"></div>

        <div class="col-md-4 col-md-offset-4 text-center to-animate-off">
          <a href="#" class="btn btn-primary">View All Products</a>
        </div>
      </div>
    </div>

  </div>

  <div id="template-nt-features-3" data-section="benefits">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2 template-nt-section-heading text-center">
          <h2 class="template-nt-lead animate-single features3-animate-1">Features of Our Products</h2>
          <p class="template-nt-sub animate-single features3-animate-2">The Gun Digest rifle section is your source for bolt-action, semi-automatic, hunting and competition rifle information.</p>
        </div>

        <div class="col-md-4 col-sm-6 text-center template-nt-text-wrap">
          <div class="template-nt-text to-animate-off">
            <span class="template-nt-icon">
              <%= fa_icon "meh-o" %>
            </span>
            <h4 class="template-nt-uppercase-sm">Customer support</h4>
            <p>The Gun Digest rifle section is your source for bolt-action, semi-automatic, hunting and competition rifle information.</p>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 text-center template-nt-text-wrap">
          <div class="template-nt-text to-animate-off">
            <span class="template-nt-icon">
              <%= fa_icon "comment-o" %>
            </span>
            <h4 class="template-nt-uppercase-sm">Customer support</h4>
            <p>The Gun Digest rifle section is your source for bolt-action, semi-automatic, hunting and competition rifle information.</p>
          </div>
        </div>

        <div class="clearfix visible-sm-block"></div>

        <div class="col-md-4 col-sm-6 text-center template-nt-text-wrap">
          <div class="template-nt-text to-animate-off">
            <span class="template-nt-icon">
              <%= fa_icon "desktop" %>
            </span>
            <h4 class="template-nt-uppercase-sm">Customer support</h4>
            <p>The Gun Digest rifle section is your source for bolt-action, semi-automatic, hunting and competition rifle information.</p>
          </div>
        </div>

        <div class="col-md-4 col-sm-6 text-center template-nt-text-wrap">
          <div class="template-nt-text to-animate-off">
            <span class="template-nt-icon">
              <%= fa_icon "clock-o" %>
            </span>
            <h4 class="template-nt-uppercase-sm">Customer support</h4>
            <p>The Gun Digest rifle section is your source for bolt-action, semi-automatic, hunting and competition rifle information.</p>
          </div>
        </div>

        <div class="clearfix visible-sm-block"></div>

        <div class="col-md-4 col-sm-6 text-center template-nt-text-wrap">
          <div class="template-nt-text to-animate-off">
            <span class="template-nt-icon"><i class="icon-present"></i></span>
            <h4 class="template-nt-uppercase-sm">Customer support</h4>
            <p>The Gun Digest rifle section is your source for bolt-action, semi-automatic, hunting and competition rifle information.</p>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 text-center template-nt-text-wrap">
          <div class="template-nt-text to-animate-off">
            <span class="template-nt-icon"><i class="icon-energy"></i></span>
            <h4 class="template-nt-uppercase-sm">Customer support</h4>
            <p>The Gun Digest rifle section is your source for bolt-action, semi-automatic, hunting and competition rifle information.</p>
          </div>
        </div>



      </div>
    </div>
  </div>

  <div class="template-nt-bg-section cta" id="template-nt-cta" style="background-image: url(images/rifle20.jpg); background-attachment: fixed;">
    <div class="template-nt-overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="template-nt-hero-wrap">
            <div class="template-nt-hero-intro text-center">
              <div class="row">
                <div class="col-md-8 col-md-offset-2 template-nt-section-heading text-center">
                  <h2 class="template-nt-lead to-animate-off">Browse The Product Option!</h2>
                  <p class="template-nt-sub to-animate-off">The Gun Digest rifle section is your source for bolt-action, semi-automatic, hunting and competition rifle information.</p>
                  <div class="to-animate-off"><a href="#" class="btn btn-primary">Get Started!</a></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="template-nt-pricing" data-section="pricing">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2 template-nt-section-heading text-center">
          <h2 class="template-nt-lead animate-single pricing-animate-1">The Price of Each Product</h2>
          <p class="template-nt-sub animate-single pricing-animate-2">The Gun Digest rifle section is your source for bolt-action, semi-automatic, hunting and competition rifle information.</p>
        </div>

        <div class="col-md-3 to-animate-off">
          <a href="#" class="template-nt-figure">
            <span class="template-nt-price">$150<span>/Now</span></span>
            <h3 class="template-nt-figure-lead">gun</h3>
            <ul class="price-list-inner">
              <li>Caliber:  9*19mm</li>
              <li>Muzzle:   116 mm</li>
              <li>Length:   203 mm</li>
              <li>Height:   140 mm - 38 mm</li>
              <li>Weight:   1010 gr</li>
            </ul>
          </a>
        </div>
        <div class="col-md-3 to-animate-off">
          <a href="#" class="template-nt-figure">
            <span class="template-nt-price">$250<span>/Now</span></span>
            <h3 class="template-nt-figure-lead">pump rifle</h3>
            <ul class="price-list-inner">
              <li>Caliber:  9*19mm</li>
              <li>Muzzle:   116 mm</li>
              <li>Length:   203 mm</li>
              <li>Height:   140 mm - 38 mm</li>
              <li>Weight:   1010 gr</li>
            </ul>
          </a>
        </div>
        <div class="col-md-3 to-animate-off">
          <a href="#" class="template-nt-figure active pricing-feature">
            <span class="template-nt-price">$450<span>/Now</span></span>
            <h3 class="template-nt-figure-lead">hunting rifle</h3>
            <ul class="price-list-inner">
              <li>Caliber:  9*19mm</li>
              <li>Muzzle:   116 mm</li>
              <li>Length:   203 mm</li>
              <li>Height:   140 mm - 38 mm</li>
              <li>Weight:   1010 gr</li>
            </ul>
          </a>
        </div>
        <div class="col-md-3 to-animate-off">
          <a href="#" class="template-nt-figure">
            <span class="template-nt-price">$550<span>/Now</span></span>
            <h3 class="template-nt-figure-lead">machine guns</h3>
            <ul class="price-list-inner">
              <li>Caliber:  9*19mm</li>
              <li>Muzzle:   116 mm</li>
              <li>Length:   203 mm</li>
              <li>Height:   140 mm - 38 mm</li>
              <li>Weight:   1010 gr</li>
            </ul>
          </a>
        </div>
      </div>
    </div>
  </div>

  <div id="template-nt-faqs"  data-section="faqs">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2 template-nt-section-heading text-center">
          <h2 class="template-nt-lead animate-single faqs-animate-1">Asked Questions About Products</h2>
          <p class="template-nt-sub animate-single faqs-animate-2">The Gun Digest rifle section is your source for bolt-action, semi-automatic, hunting and competition rifle information.</p>
        </div>
      </div>
    </div>


    <div class="container">
      <div class="faq-accordion active to-animate-off">
        <span class="faq-accordion-icon-toggle active"><i class="icon-arrow-down"></i></span>
        <h3>Product Warranty Few Years?</h3>
        <div class="faq-body" style="display: block;">
          <p>We understand the importance of a young boy’s first gun, the thrill of the hunt with a reliable weapon, the achievement of a dream in the winning of a competition and the lives that depend upon the accuracy of a duty weapon or the home defender.We understand the importance of a young boy’s first gun, the thrill of the hunt with a reliable weapon, the achievement of a dream in the winning of a competition and the lives that depend upon the accuracy of a duty weapon or the home defender.</p>
        </div>
      </div>
      <div class="faq-accordion to-animate-off">
        <span class="faq-accordion-icon-toggle"><i class="icon-arrow-down"></i></span>
        <h3>Use The Products Detailed Manual?</h3>
        <div class="faq-body">
          <p>We understand the importance of a young boy’s first gun, the thrill of the hunt with a reliable weapon, the achievement of a dream in the winning of a competition and the lives that depend upon the accuracy of a duty weapon or the home defender.We understand the importance of a young boy’s first gun, the thrill of the hunt with a reliable weapon, the achievement of a dream in the winning of a competition and the lives that depend upon the accuracy of a duty weapon or the home defender.</p>
        </div>
      </div>
      <div class="faq-accordion to-animate-off">
        <span class="faq-accordion-icon-toggle"><i class="icon-arrow-down"></i></span>
        <h3>What is Required For Gun Ownership?</h3>
        <div class="faq-body">
          <p>We understand the importance of a young boy’s first gun, the thrill of the hunt with a reliable weapon, the achievement of a dream in the winning of a competition and the lives that depend upon the accuracy of a duty weapon or the home defender.We understand the importance of a young boy’s first gun, the thrill of the hunt with a reliable weapon, the achievement of a dream in the winning of a competition and the lives that depend upon the accuracy of a duty weapon or the home defender.</p>
        </div>
      </div>
      <div class="faq-accordion to-animate-off">
        <span class="faq-accordion-icon-toggle"><i class="icon-arrow-down"></i></span>
        <h3>Shipping Fee of Up to Us?</h3>
        <div class="faq-body">
          <p>We understand the importance of a young boy’s first gun, the thrill of the hunt with a reliable weapon, the achievement of a dream in the winning of a competition and the lives that depend upon the accuracy of a duty weapon or the home defender.We understand the importance of a young boy’s first gun, the thrill of the hunt with a reliable weapon, the achievement of a dream in the winning of a competition and the lives that depend upon the accuracy of a duty weapon or the home defender.</p>
        </div>
      </div>
      <div class="faq-accordion to-animate-off">
        <span class="faq-accordion-icon-toggle"><i class="icon-arrow-down"></i></span>
        <h3>Have Your Branch?</h3>
        <div class="faq-body">
          <p>We understand the importance of a young boy’s first gun, the thrill of the hunt with a reliable weapon, the achievement of a dream in the winning of a competition and the lives that depend upon the accuracy of a duty weapon or the home defender.We understand the importance of a young boy’s first gun, the thrill of the hunt with a reliable weapon, the achievement of a dream in the winning of a competition and the lives that depend upon the accuracy of a duty weapon or the home defender.</p>
        </div>
      </div>
      <div class="faq-accordion to-animate-off">
        <span class="faq-accordion-icon-toggle"><i class="icon-arrow-down"></i></span>
        <h3>What Kinds of Technical Problems?</h3>
        <div class="faq-body">
          <p>We understand the importance of a young boy’s first gun, the thrill of the hunt with a reliable weapon, the achievement of a dream in the winning of a competition and the lives that depend upon the accuracy of a duty weapon or the home defender.We understand the importance of a young boy’s first gun, the thrill of the hunt with a reliable weapon, the achievement of a dream in the winning of a competition and the lives that depend upon the accuracy of a duty weapon or the home defender.</p>
        </div>
      </div>

    </div>
  </div>

  <div id="template-nt-subscribe">
    <div class="container">
      <div class="row animate-box-off">
        <form action="#" method="post">
          <div class="col-md-3 col-sm-3">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="First Name">
            </div>
          </div>
          <div class="col-md-3 col-sm-3">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Last Name">
            </div>
          </div>
          <div class="col-md-3 col-sm-3">
            <div class="form-group">
              <input type="email" class="form-control" placeholder="Email">
            </div>
          </div>
          <div class="col-md-3 col-sm-3">
            <div class="form-group">
              <input type="submit" class="btn btn-primary" value="Subscribe">
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>