<!DOCTYPE html>
<html>
<head>
  <title>Flatservice4you</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= csrf_meta_tags %>
  <%= render 'shared/head_analytics', cached: true %>
</head>
<body id="flatservice">
  <%= render 'shared/body_analytics', cached: true %>
  <%= render 'layouts/flash' %>
  <%= render 'shared/sidebar', cached: true %>
  <%= render 'shared/menu', cached: true %>

  <div id="template-nt-page">
    <div id="template-nt-wrap">
      <%= render 'shared/header', cached: true %>
      <%= yield %>
    </div>
    <%= render 'shared/footer', cached: true %>
  </div>

  <%= render 'shared/analytics', cached: true %>
  <%= render 'home/blog_modal', cached: true %>
  <%= javascript_include_tag 'application', :async => true %>
</body>
</html>
