<!DOCTYPE html>
<html>
<head>
  <title>Flatservice4you</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= javascript_include_tag 'load_css' %>
  <%= render 'shared/critical_path_css', cached: true %>
  <%= google_webfonts_init(google: ['Montserrat:400,700', 'Open+Sans']) %>
  <%= csrf_meta_tags %>
  <%= render 'shared/head_analytics', cached: true %>
</head>
<body id="flatservice">
  <%= render 'shared/body_analytics', cached: true %>
  <%= render 'layouts/flash' %>
  <%= render 'shared/sidebar', cached: true %>
  <%= render 'shared/menu', cached: true %>

  <div id="template-nt-page">
    <div id="template-nt-wrap">
      <%= render 'shared/header', cached: true %>
      <%= yield %>
    </div>
    <%= render 'shared/footer', cached: true %>
  </div>

  <%= render 'shared/analytics', cached: true %>
  <%= render 'home/blog_modal', cached: true %>
  <%= javascript_include_tag 'application', :async => Rails.env.production? %>
</body>
</html>
